<div class="main">
    <nav class="navbar navbar-expand-lg " style="background-color:rgb(248, 245, 245) ;">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="dropdown mega-dropdown ">
                    <a href="#" class="nav-link " role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">HoneyMoon Packages<i class="arrow down"></i></a>
                        <!-- show -->
                    <ul class="dropdown-menu mega-dropdown-menu ">
                        <div class="row">
                           <div class="col-4">
                            <div class="dropdown-header ">Indian Destination</div>
                            <div class="row">
                                <div class="col-4">
                                   
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Kerala">Kerala</a>
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Goa">Goa</a>
                                    <a class="dropdown-item">Himachala</a>
                                    <a class="dropdown-item">Sikkim</a>
                                    <a class="dropdown-item">Uttarakand</a>
                                    
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Rajastan</a>
                                    <a class="dropdown-item">Andaman</a>
                                    <a class="dropdown-item">Kashmir</a>
                                    <a class="dropdown-item">Tamilandu</a>
                                   
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Karnataka</a>
                                    <a class="dropdown-item">coorge</a>
                                    <a class="dropdown-item" style="color: #00bdd4;">View All</a>
                                </div>
                                
                            </div>
                           </div>
                           <div class="col-4">
                            <div class="dropdown-header ">International Destination</div>
                            <div class="row">
                                <div class="col-4">
                                   
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Kerala">Kerala</a>
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Goa">Goa</a>
                                    <a class="dropdown-item">Himachala</a>
                                    <a class="dropdown-item">Sikkim</a>
                                    <a class="dropdown-item">Uttarakand</a>
                                    
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Rajastan</a>
                                    <a class="dropdown-item">Andaman</a>
                                    <a class="dropdown-item">Kashmir</a>
                                    <a class="dropdown-item">Tamilandu</a>
                                   
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Karnataka</a>
                                    <a class="dropdown-item">coorge</a>
                                    <a class="dropdown-item" style="color: #00bdd4;">View All</a>
                                </div>
                                
                            </div>
                           </div>
                           <div class="col-1">
                           </div>
                           <div class="col-2">
                             <img class="img-fluid"  src="https://image.freepik.com/free-vector/wedding-couple-flat-design_52683-32273.jpg" alt="">
                           </div>
                        </div>
                        
                    </ul>
                </li>
                <li class="dropdown mega-dropdown">
                    <a href="#" class="nav-link" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Family Packages<span class="arrow down"></span></a>
                    <ul class="dropdown-menu mega-dropdown-menu ">
                        <div class="row">
                           <div class="col-4">
                            <div class="dropdown-header ">Indian Destination</div>
                            <div class="row">
                                <div class="col-4">
                                    <a class="dropdown-item" >Kerala</a>
                                    <a class="dropdown-item" >Goa</a>
                                    <a class="dropdown-item">Andaman</a>
                                    <a class="dropdown-item">Kashmir</a>
                                    <a class="dropdown-item">Tamilandu</a>
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Rajastan</a>
                                    <a class="dropdown-item">Himachala</a>
                                    <a class="dropdown-item">Sikkim</a>
                                    <a class="dropdown-item">Uttarakand</a> 
                                   
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Karnataka</a>
                                    <a class="dropdown-item">coorge</a>
                                    <a class="dropdown-item" style="color: #00bdd4;">View All</a>
                                </div>
                                
                            </div>
                           </div>
                           <div class="col-4">
                            <div class="dropdown-header ">International Destination</div>
                            <div class="row">
                                <div class="col-4">
                                   
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Kerala">Kerala</a>
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Goa">Goa</a>
                                    <a class="dropdown-item">Himachala</a>
                                    <a class="dropdown-item">Sikkim</a>
                                    <a class="dropdown-item">Uttarakand</a>
                                    
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Rajastan</a>
                                    <a class="dropdown-item">Andaman</a>
                                    <a class="dropdown-item">Kashmir</a>
                                    <a class="dropdown-item">Tamilandu</a>
                                   
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Karnataka</a>
                                    <a class="dropdown-item">coorge</a>
                                    <a class="dropdown-item" style="color: #00bdd4;">View All</a>
                                </div>
                                
                            </div>
                           </div>
                           <div class="col-1">
                           </div>
                           <div class="col-3">
                             <img class="img-fluid"  src="https://image.freepik.com/free-vector/family-concept-illustration_114360-2047.jpg" alt="">
                           </div>
                        </div>
                        
                    </ul>
                </li>
                <li class="dropdown mega-dropdown">
                    <a href="#" class="nav-link " role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Holiday <i class="arrow down"></i></a>
                    <ul class="dropdown-menu mega-dropdown-menu ">
                        <div class="row">
                           <div class="col-4">
                            <div class="dropdown-header ">Indian Destination</div>
                            <div class="row">
                                <div class="col-4">
                                    <a class="dropdown-item" >Kerala</a>
                                    <a class="dropdown-item" >Goa</a>
                                    <a class="dropdown-item">Andaman</a>
                                    <a class="dropdown-item">Kashmir</a>
                                    <a class="dropdown-item">Tamilandu</a>
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Rajastan</a>
                                    <a class="dropdown-item">Himachala</a>
                                    <a class="dropdown-item">Sikkim</a>
                                    <a class="dropdown-item">Uttarakand</a> 
                                   
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Karnataka</a>
                                    <a class="dropdown-item">coorge</a>
                                    <a class="dropdown-item" style="color: #00bdd4;">View All</a>
                                </div>
                                
                            </div>
                           </div>
                           <div class="col-4">
                            <div class="dropdown-header ">International Destination</div>
                            <div class="row">
                                <div class="col-4">
                                   
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Kerala">Kerala</a>
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Goa">Goa</a>
                                    <a class="dropdown-item">Himachala</a>
                                    <a class="dropdown-item">Sikkim</a>
                                    <a class="dropdown-item">Uttarakand</a>
                                    
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Rajastan</a>
                                    <a class="dropdown-item">Andaman</a>
                                    <a class="dropdown-item">Kashmir</a>
                                    <a class="dropdown-item">Tamilandu</a>
                                   
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Karnataka</a>
                                    <a class="dropdown-item">coorge</a>
                                    <a class="dropdown-item" style="color: #00bdd4;">View All</a>
                                </div>
                                
                            </div>
                           </div>
                           <div class="col-1">
                           </div>
                           <div class="col-2">
                             <img class="img-fluid"  src="https://image.freepik.com/free-vector/traveling-concept-illustration_114360-2447.jpg" alt="">
                           </div>
                        </div>
                        
                    </ul>
                </li>
                <li class="dropdown mega-dropdown">
                    <a href="#" class="nav-link " role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Luxury<i class="ml-1 arrow down"></i></a>
                    <ul class="dropdown-menu mega-dropdown-menu ">
                        <div class="row">
                           <div class="col-4">
                            <div class="dropdown-header ">Indian Destination</div>
                            <div class="row">
                                <div class="col-4">
                                    <a class="dropdown-item" >Kerala</a>
                                    <a class="dropdown-item" >Goa</a>
                                    <a class="dropdown-item">Andaman</a>
                                    <a class="dropdown-item">Kashmir</a>
                                    <a class="dropdown-item">Tamilandu</a>
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Rajastan</a>
                                    <a class="dropdown-item">Himachala</a>
                                    <a class="dropdown-item">Sikkim</a>
                                    <a class="dropdown-item">Uttarakand</a> 
                                   
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Karnataka</a>
                                    <a class="dropdown-item">coorge</a>
                                    <a class="dropdown-item" style="color: #00bdd4;">View All</a>
                                </div>
                                
                            </div>
                           </div>
                           <div class="col-4">
                            <div class="dropdown-header ">International Destination</div>
                            <div class="row">
                                <div class="col-4">
                                   
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Kerala">Kerala</a>
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Goa">Goa</a>
                                    <a class="dropdown-item">Himachala</a>
                                    <a class="dropdown-item">Sikkim</a>
                                    <a class="dropdown-item">Uttarakand</a>
                                    
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Rajastan</a>
                                    <a class="dropdown-item">Andaman</a>
                                    <a class="dropdown-item">Kashmir</a>
                                    <a class="dropdown-item">Tamilandu</a>
                                   
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Karnataka</a>
                                    <a class="dropdown-item">coorge</a>
                                    <a class="dropdown-item" style="color: #00bdd4;">View All</a>
                                </div>
                                
                            </div>
                           </div>
                          
                           <div class="col-3">
                             <img class="img-fluid"  src="https://image.freepik.com/free-photo/starfish-summer-sunny-beach-ocean-background-travel-vacation-concepts_1423-276.jpg" alt="">
                           </div>
                        </div>
                        
                    </ul>
                </li>
                <li class="dropdown mega-dropdown">
                    <a href="#" class="nav-link" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Trecking<i class="ml-1 arrow down"></i></a>
                    <ul class="dropdown-menu mega-dropdown-menu ">
                        <div class="row">
                           <div class="col-4">
                            <div class="dropdown-header ">Indian Destination</div>
                            <div class="row">
                                <div class="col-4">
                                    <a class="dropdown-item" >Kerala</a>
                                    <a class="dropdown-item" >Goa</a>
                                    <a class="dropdown-item">Andaman</a>
                                    <a class="dropdown-item">Kashmir</a>
                                    <a class="dropdown-item">Tamilandu</a>
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Rajastan</a>
                                    <a class="dropdown-item">Himachala</a>
                                    <a class="dropdown-item">Sikkim</a>
                                    <a class="dropdown-item">Uttarakand</a> 
                                   
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Karnataka</a>
                                    <a class="dropdown-item">coorge</a>
                                    <a class="dropdown-item" style="color: #00bdd4;">View All</a>
                                </div>
                                
                            </div>
                           </div>
                           <div class="col-4">
                            <div class="dropdown-header ">International Destination</div>
                            <div class="row">
                                <div class="col-4">
                                   
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Kerala">Kerala</a>
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Goa">Goa</a>
                                    <a class="dropdown-item">Himachala</a>
                                    <a class="dropdown-item">Sikkim</a>
                                    <a class="dropdown-item">Uttarakand</a>
                                    
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Rajastan</a>
                                    <a class="dropdown-item">Andaman</a>
                                    <a class="dropdown-item">Kashmir</a>
                                    <a class="dropdown-item">Tamilandu</a>
                                   
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Karnataka</a>
                                    <a class="dropdown-item">coorge</a>
                                    <a class="dropdown-item" style="color: #00bdd4;">View All</a>
                                </div>
                                
                            </div>
                           </div>
                           <div class="col-1">
                           </div>
                           <div class="col-2">
                             <img class="img-fluid"  src="https://image.freepik.com/free-vector/explorer-with-backpack_23-2148151583.jpg" alt="">
                           </div>
                        </div>
                        
                    </ul>
                </li>
                <li class="dropdown mega-dropdown">
                    <a href="#" class="nav-link" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Adventures<i class=" ml-1 arrow down"></i></a>
                    <ul class="dropdown-menu mega-dropdown-menu ">
                        <div class="row">
                           <div class="col-4">
                            <div class="dropdown-header ">Indian Destination</div>
                            <div class="row">
                                <div class="col-4">
                                    <a class="dropdown-item" >Kerala</a>
                                    <a class="dropdown-item" >Goa</a>
                                    <a class="dropdown-item">Andaman</a>
                                    <a class="dropdown-item">Kashmir</a>
                                    <a class="dropdown-item">Tamilandu</a>
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Rajastan</a>
                                    <a class="dropdown-item">Himachala</a>
                                    <a class="dropdown-item">Sikkim</a>
                                    <a class="dropdown-item">Uttarakand</a> 
                                   
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Karnataka</a>
                                    <a class="dropdown-item">coorge</a>
                                    <a class="dropdown-item" style="color: #00bdd4;">View All</a>
                                </div>
                                
                            </div>
                           </div>
                           <div class="col-4">
                            <div class="dropdown-header ">International Destination</div>
                            <div class="row">
                                <div class="col-4">
                                   
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Kerala">Kerala</a>
                                    <a class="dropdown-item" routerLink="/HoneyMoon/Goa">Goa</a>
                                    <a class="dropdown-item">Himachala</a>
                                    <a class="dropdown-item">Sikkim</a>
                                    <a class="dropdown-item">Uttarakand</a>
                                    
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Rajastan</a>
                                    <a class="dropdown-item">Andaman</a>
                                    <a class="dropdown-item">Kashmir</a>
                                    <a class="dropdown-item">Tamilandu</a>
                                   
                                </div>
                                <div class="col-4">
                                    <a class="dropdown-item">Karnataka</a>
                                    <a class="dropdown-item">coorge</a>
                                    <a class="dropdown-item" style="color: #00bdd4;">View All</a>
                                </div>
                                
                            </div>
                           </div>
                           
                           <div class="col-3">
                             <img class="img-fluid"  src="https://image.freepik.com/free-vector/couple-with-backpacks-walking-outdoors-tourists-with-nordic-poles-hiking-mountains-flat-vector-illustration-vacation-travel-trekking-concept_74855-9831.jpg" alt="">
                           </div>
                        </div>
                        
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My
                        account <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li><a href="#">My cart (0) items</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </nav>
</div>