<topbar-dir></topbar-dir>
<mainnav></mainnav>

<div class="container-fluid  mainpadding">
    <p>Get answers & discussion</p>
    <div class="textarea-wrapper">
        <textarea class="form-control custom-textarea" pInputTextArea [(ngModel)]="Qstn" maxlength="256"
            placeholder="Post Your Question...."></textarea>
        <span *ngIf="Qstn" class="remaning text-muted">{{Qstn.length}}/256 characters</span>
        <button (click)="QstnSubmit()" class="btn btn-sm btn-danger comment-btn">Post</button>
    </div>
    
    <hr />
    <div class="row pt-2">

        <!--/col-3-->
        <div class="col-sm-8">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">discussion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">My Posts</a>
                </li>
            </ul>
            <br />
            
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane  active" id="home">
                    <div class="card  mb-1">
                        <div class="card-body ">
                            <a  (click)="Commentfilter('Honeymoon')" class="label label-success mb-2">Honeymoon</a>
                            <a (click)="Commentfilter('Treking')" class="label label-success mb-2">Treking</a>
                            <a (click)="Commentfilter('WaterActivity')"  class="label label-success mb-2">WaterActivity</a>
                            <a (click)="Commentfilter('Nature')"  class="label label-success mb-2">Nature</a>
                            <a (click)="Commentfilter('International')"  class="label label-success mb-2">International</a>
                            <a (click)="Commentfilter('General')"  class="label label-success mb-2">General</a>
                            <a (click)="Commentfilter('Indian')"  class="label label-success">Indian</a>
                            <a (click)="Commentfilter('Cruise')"  class="label label-success">Cruise</a>
                        </div>
                    </div>
                    <div class="profile-timeline">
                        <ul class="list-unstyled">
                            <li class="timeline-item" *ngFor="let child of qstns;let i=index;">
                                <div class="card card-white grid-margin">
                                    <div class="card-body">
                                        <div class="timeline-item-header">
                                            <img [src]="child.prifile" alt="" />
                                            <p>{{child.Postedby}}<span> posted a quastion</span></p>
                                            <small>{{child.time}}</small>
                                        </div>
                                        <div class="timeline-item-post">
                                            <p>{{child.Qstn}}</p>
                                            <div class="timeline-options">
                                                <a href="#"><i class="fa fa-thumbs-up"></i> Like ({{child.like}})</a>
                                                <a data-toggle="collapse" [attr.data-target]="'#Collapse'+ i" aria-expanded="false" aria-controls="Collapse2"><i class="fa fa-comment"></i> Comment (4)</a>
                                                
                                            </div>
                                            <div class="collapse" id="{{'Collapse'+i}}">
                                                <div class="textarea-wrapper mb-3">
                                                    <textarea class="form-control custom-textarea" (blur)="commentblurEvent($event)"  placeholder="Replay"></textarea>
                                                    <button (click)="replaySubmit(child.Qstnid)" class="btn btn-sm btn-danger comment-btn">Post</button>
                                                </div>
                                                <div *ngIf="child.comments" class=" commntbox" >
                                                    <div  class="timeline-comment  " *ngFor="let child1 of child.comments">
                                                        <div class="timeline-comment-header">
                                                            <img [src]="child1.profile"
                                                                alt="" />
                                                            <p>{{child1.commentby}}<small>{{child1.time}}</small></p>
                                                        </div>
                                                        <p class="timeline-comment-text">{{child1.comment}}</p>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                          
                        </ul>
                    </div>
                </div>
                <div class="tab-pane  fade" id="menu1">
                    <div class="profile-timeline">
                        <ul class="list-unstyled">
                            <li class="timeline-item" *ngFor="let child of myqstns;let j=index;">
                                <div class="card card-white grid-margin">
                                    <div class="card-body">
                                        <div class="timeline-item-header">
                                            <img [src]="child.prifile" alt="" />
                                            <p>{{child.Postedby}}<span> posted a quastion</span></p>
                                            <small>{{child.time}}</small>
                                        </div>
                                        <div class="timeline-item-post">
                                            <p>{{child.Qstn}}</p>
                                            <div class="timeline-options">
                                                <a href="#"><i class="fa fa-thumbs-up"></i> Like ({{child.like}})</a>
                                                <a data-toggle="collapse" [attr.data-target]="'#Collapse2'+ j" aria-expanded="false" aria-controls="Collapse2"><i class="fa fa-comment"></i> Comment (4)</a>
                                                
                                            </div>
                                            <div class="collapse" id="{{'Collapse2'+j}}">
                                                <div class="textarea-wrapper mb-3">
                                                    <textarea class="form-control custom-textarea" (blur)="commentblurEvent($event)"  placeholder="Replay"></textarea>
                                                    <button (click)="replaySubmit(child.Qstnid)" class="btn btn-sm btn-danger comment-btn">Post</button>
                                                </div>
                                                <div *ngIf="child.comments" class=" commntbox" >
                                                    <div  class="timeline-comment  " *ngFor="let child1 of child.comments">
                                                        <div class="timeline-comment-header">
                                                            <img [src]="child1.profile"
                                                                alt="" />
                                                            <p>{{child1.commentby}}<small>{{child1.time}}</small></p>
                                                        </div>
                                                        <p class="timeline-comment-text">{{child1.comment}}</p>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                          
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-white grid-margin">
                <div class="card-heading clearfix">
                    <h4 class="card-title">Suggested Questions</h4>
                </div>
               
                   <ol>
                       <li *ngFor="let list of Suggestedqstns">
                           {{list}}
                       </li>
                       
                   </ol>
                
            </div>
            <div class="card card-white grid-margin">
                <div class="row">
                      <div class="col-2">
                        <i class="fab fa-quora fa-3x"></i>
                      </div>
                      <div class="col-10">
                        <p class="h4">Un answered Questions For You</p> 
                    </div>
                </div>
            </div>

                    <div class="profile-timeline">
                        <ul class="list-unstyled">
                            <li class="timeline-item" *ngFor="let child of qstns;let i=index;">
                                <div class="card card-white mb-1">
                                    <div class="card-body">
                                        <div class="timeline-item-header">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
                                            <p>child.Postedby<span> posted a quastion</span></p>
                                        </div>
                                       <div class="ml-5">
                                        <p>hfdhdfhdfhdhdv</p>
                                       </div>
                                    </div>
                                </div>
                            </li>
                          
                        </ul>
                    </div>
               
        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<!--/row-->