<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-lg-8 columnleft">
            <div class="page-name">
                <h3 class="h5">Review Your Booking </h3>
            </div>
            <div class="card card-white grid-margin">
                <h5 class="card-header">Maldives Gateway with Thulhagiri Island Resort<span class="float-right h6">4
                        Nights / 5 Days
                    </span></h5>
                <div class="card-body">
                    <div class="row mb-0">
                        <div class="col-lg-3 col-md-6">
                            <small>From City</small>
                            <p class="font-weight-bold">Kerala</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <small>Tour Date</small>
                            <p class="font-weight-bold">30 Mar’21 Tuesday</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <small>Rooms & Guests</small>
                            <p class="font-weight-bold">2 Adults</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <small>Price Category</small>
                            <p class="font-weight-bold">Deluxe</p>
                        </div>
                    </div>
                    <hr class="" />
                    <a class="float-right p-0 text-success">REVIEW YOUR ITINERARY</a>
                </div>

            </div>

            <div class="page-name">
                <h3 class="h5">Traveller Details </h3>
            </div>

            <div class="card card-white  grid-margin p-3">


                <div id="accordion">

                    <div class="card">
                        <div class="card-header py-2">
                            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                <span class="text-danger">Room 1</span>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                            <div class="card-body">
                                <form [formGroup]="TravellerformGroup" (ngSubmit)="Travelersdetails()">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-6 col-xs-12">
                                            
                                            <div class="form-group mb-3">
                                                <select class="custom-select" required  formControlName="Gender">
                                                  <option value="Mr" >Mr</option>
                                                  <option value="Ms">Ms</option>
                                                  <option value="Mrs">Mrs</option>
                                                </select>
                                                
                                              </div>
                                            
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-xs-12">
                                            <div class="form-group mb-3">
                                                <input id="FirstName" type="text" placeholder="First Name"
                                                    formControlName="Firstname" required=""
                                                    autocomplete="off" autofocus="" class="form-control ">
                                                <span *ngIf="f.Firstname.touched && f.Firstname.invalid"
                                                    class="invalid-feedback">Enter First Name</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-6 col-xs-12">
                                            <div class="form-group mb-3">
                                                <input id="Lastname" type="text" placeholder="Last Name"
                                                    formControlName="Lastname" class="form-control ">
                                                <span *ngIf="f.Lastname.touched && f.Lastname.invalid"
                                                    class="invalid-feedback">Enter Last name</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-xs-12">
                                            <div class="form-group mb-3">
                                                <input id="DOB" type="date" placeholder="Date of birth"
                                                    formControlName="DOB"
                                                     class="form-control ">
                                                <span *ngIf="f.DOB.touched && f.DOB.invalid"
                                                    class="invalid-feedback">Enter Date</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-6 col-xs-12">
                                            <div class="form-group mb-3">
                                                <input id="Passport" type="text" placeholder="Passport"
                                                    formControlName="Passport" class="form-control">

                                            </div>
                                        </div>
                                    </div>




                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="page-name">
                <h3 class="h5">Contact information </h3>
            </div>
            <div class="card card-white  grid-margin ">
                <div class="card-header py-3">

                    <h6 class="h6">Your booking details will be sent here.</h6>

                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum..
                    </div>
                </div>
            </div>
            <div class="card card-white  grid-margin ">
                <div class="card-header py-3">

                    <h6 class="h6">Use GSTIN for this booking<span class="text-muted small">(Optional)</span></h6>
                    <small>Claim credit of GST charges. Your taxes may get updated post submitting your GST
                        details.</small>

                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum..
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 columnright">
            <div class="page-name">
                <h3 class="h5">Review Your Booking </h3>
            </div>
            <div class="card card-white grid-margin">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="h6">Package Cost</h6>
                        </div>
                        <div class="col-6 ">
                            <span class="float-right">₹ 116,900</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <h6 class="h6">Discount </h6>
                        </div>
                        <div class="col-6 ">
                            <span class="float-right">₹ 0</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <h6 class="h6">Package Cost After Discount</h6>
                        </div>
                        <div class="col-6 ">
                            <span class="float-right">₹ 116,900</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <h6 class="h6">GST (5 %)</h6>
                        </div>
                        <div class="col-6 ">
                            <span class="float-right">₹ 5845</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <h6 class="h6 font-weight-bold">Total Amount: </h6>
                        </div>
                        <div class="col-6 ">
                            <span class="float-right">₹ 122,745 </span>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <h6 class="h6 font-weight-bold">Grand Total: </h6>
                        </div>
                        <div class="col-6 ">
                            <span class="float-right">₹ 122,745 </span>
                        </div>
                    </div>
                    <a href="Destination/Payment" class="btn btn-primary btn-block mt-4 text-center py-2">
                        BOOK Now
                    </a>
                </div>
            </div>
            <div class="card card-white grid-margin">

                <div class="input-group card-body">
                    <h6 class="mb-3">Apply Promocode:</h6>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter Promo Code">
                        <div class="input-group-append">
                            <span class="input-group-text text-danger">Apply</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-white grid-margin">

                <div class="list-group-flush">
                    <div class="list-group-item">
                        <a class="mb-0"><i class="fab fa-instagram fa-2x mr-4 blue p-2 white-text rounded "
                                aria-hidden="true"></i>WWW.Instgram.com</a>
                    </div>
                    <div class="list-group-item">
                        <a class="mb-0"> <i class="fas fa-phone fa-2x mr-4  red p-2 white-text rounded"
                                aria-hidden="true"></i>53545464</a>
                    </div>
                    <div class="list-group-item">
                        <a class="mb-0"><i class="fab fa-whatsapp fa-2x mr-4  purple p-2 white-text rounded"
                                aria-hidden="true"></i>Whats app</a>
                    </div>
                </div>


            </div>



        </div>
    </div>

</div>