<mainnav></mainnav>
<br /> <br /><br />



<section class="container p-0 ">
   
    <hr/>
    
    <div class="row">

        <div class="col-lg-3 pr-0 "> 
            <app-filters class="sticky-top"></app-filters>
        </div>

        <div class="col-lg-9 p-0 ">
            <div class="container-fluid mb-3">
                <div class="card card-white mb-2 grid-margin m-0">
                    <h6 class="h5">Kerala HoneyMoon Packages</h6>
            </div>
            </div>
           
            <div class="d-flex flex-column  mb-3">
                <app-list-view  [items]="child" *ngFor="let child of info | paginate: { itemsPerPage: 10, currentPage: p }">

                </app-list-view>
                <br/>
                <pagination-controls data-pagination class="pagination" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
       
    </div>
    <div >
        
    </div>
    
</section>