<mainnav></mainnav>
<br/>
<table class="table table-borderless">
    <tbody>
      <tr>
        <td><a href="HoneyMoon/Kerala">Kerala</a></td>
        <td><a href="">Goa</a></td>
        <td><a href="">Himachala</a></td>
      </tr>
      <tr>
        <td><a href="">Sikkim</a></td>
        <td><a href="">Uttarakand</a></td>
        <td><a href="">Rajastan</a></td>
      </tr>
      
        <tr>
          <td><a href="">Andaman</a></td>
          <td><a href="">Kashmir</a></td>
          <td><a href="">Tamilandu</a></td>
        </tr>
        <tr>
          <td><a href="">Karnataka</a></td>
          <td><a href="">coorge</a></td>
          <td><a href="" style="color: #00bdd4;">View All</a></td>
        </tr>
    </tbody>
  </table>