ul{
    padding-left: 40px;
    margin-bottom: 10px;
}
ol li{
    margin-bottom: 1rem;
    text-justify:distribute;
}
ul li{
    text-justify:distribute;
}
h6{
   font-weight: bold; 
}

* {
    font-family: Lato,sans-serif!important;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-justify:newspaper;
}
html {
    font-size: 16px;
}
html {
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}