<topbar-dir></topbar-dir>
<br />
<div class="container">
    <h4 class="font-weight-bold">Privacy Policy</h4>
    <p >Keeping your(Customer) personal information safe and secured is our ultimate priority for us. As part of our
        operations, we need to collect your information & for some instances, we need to disclose your pieces of
        information like name, email id, contact details, network carrier, locations, etc. We also need to share your
        little information for third party services for the personalization of your packages. We have developed our
        privacy policies so we will update the information to you, where we have used your identification and what they
        have used for.
        we ensure your all information including your personal information is safe with us. We have a high standard
        privacy and security policy to protect your personal information. We keep all our privacy policies transparent &
        recorded. We brief our privacy policies are
    </p>
    <ul>
        <li>Collecting your data</li>
        <li>How we use client’s data</li>
        <li>Demographic & profile data</li>
        <li>Information sharing</li>
        <li>Network details & cookies</li>
        <li>Advertisement on website</li>
        <li>Confidentiality</li>
        <li>Disclaimer</li>
        <li>Security precautions</li>
        <li>Minors</li>
        <li>Booking policies</li>
        <li>Non- refundable transactions</li>
        <li>Service charges</li>
        <li>How long we keep your data</li>
        <li>COVID-19 Bookings, refund & Cancellation</li>
        <li>Insurance</li>
        <li>User's Responsibility</li>
        <li>Cancellation & Refundable policies</li>
        <li>Changes and Cancellation by the airlines or suppliers</li>
        <li>Complaints</li>
    </ul>
    <ol>
        <li>
            <h6>Collecting your data:</h6>
            <ul>
                <li>We collect your personal information such as contact number, e-mail id, name, residential address,
                    bank account details, and IP address when you make a reservation from our end. We collect your data
                    when you register on our website, subscribe to our newsletter, participate in our competition,
                    contact our customer care, or when enquired on our website for tour packages.</li>
                <li>When you browse our website before signing up for free registration as a member we will be using
                    your contact details like contact number and email id for sending relevant offers, travel vouchers,
                    updates on travel sectors. If you do not wish to receive updates from our end, you can unsubscribe
                    through the email which you receive.</li>
            </ul>
        </li>
        <li>
            <h6>How we use client’s data</h6>
            <ul>
                <li>We use the client’s personal information as per the service request. We use your information to
                    market our services to you. We use it to resolve disputes, troubleshoot problems, promote safe
                    services, collect payment charges, update you about offers, detect and resolve errors, fraud and
                    other criminal activities.</li>
            </ul>
        </li>
        <li>
            <h6>Demographic & Profile data</h6>
            <ul>
                <li>We tend to collect and analyse demographic and profile data, regarding your activities on our
                    website/App to inform and update you on our offers. We use your IP address to identify you and to
                    gather demographic information. We may also ask for your contact information and demographic
                    information for online survey purposes. We use this information to update our services offerings
                    that you might be interested in and display relevant content as per your interest and preferences.
                </li>
            </ul>
        </li>
        <li>
            <h6>Information sharing:</h6>
            <p>We may share your personal information which we receive from you with our other corporate entities and
                affiliates in circumstances of</p>
            <ul>
                <li>Identify and avoid identity theft.</li>
                <li>Extortion or any illegal acts.</li>
                <li>Co-relate or multiple accounts to prevent abuse of our services.</li>
                <li>We may share our data with business partners that are committed to serving your online needs related
                    services throughout the world.</li>
                <li>If required to do so by law or law enforcement officer for civil or criminal offences.</li>
                <li>We will disclose if it is necessary to respond to legal process or court orders.</li>
                <li>To respond to claims for advertisement, posting or other content violates the rights of a third
                    party or to protect the rights, property or personal safety of users of our website and App.</li>
            </ul>
        </li>
        <li>
            <h6>Network details & cookies</h6>
            <ul>
                <li>We use our data collection and third-party data collection devices like cookies and IP addresses of
                    our website and App. These cookies will help us to provide your requirements, interests and
                    preferences. We use your cookies to provide you with customized offers based on your interest and
                    requirement. We also use third-party vendors like Google to serve advertisements based on your visit
                    to our website.</li>
            </ul>
        </li>
        <li>
            <h6>Advertisement on the website</h6>
            <ul>
                <li>We use third-party website advertisements on our website or App. Such websites may use your
                    information which includes your contact number/email-id, your name, cookies, IP address, etc
                    regarding providing good services which may be of interest to you. The uses of these technologies by
                    these third- party sites are subjected to their privacy policies and these policies won't come under
                    our privacy policy. We have no control over information submitted to or collected by these third
                    party sites. We inform you to go through the third party website privacy policy before accessing
                    them. </li>
            </ul>
        </li>
        <li>
            <h6>Confidentiality</h6>
            <ul>
                <li>For further acknowledgement, we may provide you with a certain type of information (apart from the
                    information available in the public domain), which will be designated confidential. You are here to
                    agree that you shall not disclose such confidential information to anyone without our prior
                    consent(written consent). </li>
            </ul>
        </li>
        <li>
            <h6>Disclaimer</h6>
            <ul>
                <li>As a user of our website and App, you understand and agree that every commercial of our website
                    contains the correct information. However, we cannot assure or guarantee the validity, quality and
                    pricing of the product and services offered at this website. The hotels, travel, and other suppliers
                    providing or the other services for us are from independent contractors and they are not our
                    affiliates. We are liable for the acts, personal injuries, death, property or other damage, expenses
                    resulting warranties, breaches or negligence resulting therefrom. Your use of the site is subjected
                    to our privacy policy. If you do not wish to do this, we kindly request you not to use our website.
                </li>
            </ul>
        </li>
        <li>
            <h6>Security precautions</h6>
            <ul>
                <li>We follow strict security systems for our website and App in terms to protect the loss, misuse and
                    alteration of the information under our control. Once we get your(client) information, we adhere to
                    protect your database as per our guidelines, protecting it against unauthorized access. Our website
                    or App may take you to another webpage, the other page may control a specified and authentic payment
                    gateway [PayU, Citrus, EBS, PayTm] that takes your payment details to process the payment
                    transaction</li>
            </ul>
        </li>
        <li>
            <h6>Minors</h6>
            <ul>
                <li>We are strictly following the rules for minors. They are not eligible for any kind of activities on
                    our websites such as registration, purchasing any kind of packages or services through our website
                    or app. We do not collect any kind of documents or personal information from any minor. </li>
            </ul>
        </li>
        <li>
            <h6>Booking policy</h6>
            <ul>
                <li>It is your responsibility as a customer, to provide the correct passenger’s information without
                    error for the flight ticket booking and reservations. Please note that passengers may be denied or
                    stopped by flight boarding if any errors are identified on check-in at the airport. It is also the
                    passenger's responsibility to ensure that your passport has a minimum of 6 months validity upon the
                    completion of the return journey, and valid. </li>
            </ul>
        </li>
        <li>
            <h6>Non- refundable transaction</h6>
            <ul>
                <li>All bookings done through our travel company are non-refundable to any other travel agent or any
                    other passenger name. It is also non-refundable if you cancel the travel bookings. </li>
            </ul>
        </li>
        <li>
            <h6>Service charges</h6>
            <ul>
                <li>If you have any changes in your travel, after tickets have been issued, we as travel agents cannot
                    change/cancel the tickets. In case of an emergency or changing the dates, the cancellation fees will
                    be added as per our policies and airline guidelines. All requests are subjected to Airline's
                    approval. The same rule will be applicable for hotels/resorts/homestays reservation. </li>
            </ul>
        </li>
        <li>
            <h6>How long we keep your data: </h6>
            <ul>
                <li>We will keep your data (Contact number & Email id) as long as necessary for purposes we collected
                    for it which includes any legal, accounting or statutory reporting requirement. However, we may
                    retain certain information following the closing of your account to maintain security, to prevent
                    fraud and abuse. </li>
            </ul>
        </li>
        <li>
            <h6>Insurance:</h6>
            <ul>
                <li>We will not cover your travel insurance with our packages. You need to get your travel insurance
                    from a third - party. You must have adequate insurance to cover loss or damage to any luggage or
                    personal possessions and money. </li>
            </ul>
        </li>
        <li>
            <h6>COVID-19 Bookings, refund & Cancellation</h6>
            <p>Due to the recent outbreak of COVID-19, there may be a situation, the end service providers(travel
                agents) may cancel the booking or refuse to offer the services such as not providing or assigning the
                rooms or services for a specific reason. The specific reason can be </p>
            <ul>
                <li>Showcase of any symptoms associated with COVID-19.</li>
                <li>Refusing to accomplish with safety advisories like wearing protective gear maintaining social
                    distancing norms, wearing a mask, etc. </li>
                <li>Suffering from any ailment or posing a threat to the health of other visitors.</li>
                <li>Any other conditions from central or state government and statutory bodies etc.</li>

            </ul>
            <p>In this pandemic, the customer agrees to follow the guidelines/SOP which will undertake the decision by
                Western travellers. If any client fails to obey the same decision, which results in the refusal to
                travel, we will not be able to hold liable for such refusals. This will be strict as per the terms of
                the services providers</p>
        </li>
        <li>
            <h6>USER'S RESPONSIBILITY</h6>
            <ul>
                <li>It is your responsibility as a user and agreed and confirmed that, </li>
                <li>All the information provided by you at the time of booking are full and accurate(name, contact
                    details, documents are related to passport)</li>
                <li>You have read all the terms and conditions set out on this website and agreed on behalf of yourself
                    and all other persons named on the booking to be obligated to our policies. </li>
                <li>You are an authorized person on behalf of all persons named on the booking to disclose their details
                    to us, including their contact information, passport and other documents, health conditions or
                    disabilities and dietary requirements. </li>
                <li>We would like to inform you to recheck all booking conformations once again and report if any
                    incorrect or incomplete information to us immediately. We would like to help you immediately as much
                    as possible from our end. </li>
                <li>Special advice for us of any special requests is not guaranteed</li>
                <li>All airline bookings are subjected to airline availability at the time of booking.</li>
                <li>The airline timings can vary due to many reasons. We would like to suggest you check on the airline
                    timing 48 hrs in before check-in/departure. If any airline timing changes prior, we will contact you
                    as soon as possible to update you with the information.</li>
                <li>Flight extra charges including meals and luggage are added to your booking cannot be removed,
                    cancelled nor refundable. </li>
            </ul>
        </li>
        <li>
            <h6>Cancellation & Refundable policies : </h6>
            <ul>
                <li>We may charge service fees for the booking process made by us on your behalf. So we will deduct our
                    service charges at the time of cancellation (if the cancellation is done by the client) and process
                    the refund (if any applicable). </li>
                <li>If you had booked the non-refundable flights or hotels/rooms, you will not be able to claim your
                    refund amount while cancelling your bookings. The non-refundable room/flights are confirmed by
                    you(users) at the time of booking. </li>
                <li>If you do not show up on time at the airport or accommodation, you will be deemed to have cancelled
                    the booking, which will not be applicable for the refund process nor cancellation process. The
                    cancellation charges will be up to 100%. </li>
                <li>For all accommodation services, the cancellation charges will be applicable as per the supplier’s
                    demand. You should be aware that these costs could increase the closure to the booking date. </li>
            </ul>
        </li>
        <li>
            <h6>Changes and Cancellation by the airlines or suppliers: </h6>
            <ul>
                <li>Flight time change for more than 12 hrs, </li>
                <li>Moving your stay with the other hotel/room </li>
                <li>Room type is downgraded /upgraded</li>
                <li>Major changes at your hotel services or removed or reduced,</li>
            </ul>
            <p>If any major changes in your holiday packages, we will try to inform you as soon as possible as we can.
                If we get sufficient time before your departure, we will let you offer the option of</p>
            <ul>
                <li>Accepting the changed services, if the result of the package holiday is of lower quality or cost,
                    you may be entitled to a price reduction.</li>
                <li>Rejecting the proposal changes, and cancelling the holiday packages and receiving a full refund of
                    all money you have paid </li>
                <li>Letting you terminate the current holiday packages and taking up the alternative one. If you are
                    going for alternative holiday packages, we will let you know the impact in terms of date and time,
                    pricing of your new holiday package, you may receive a price reduction. </li>
                <li>You need to respond to us for changes as soon as possible or maximum within 48 hours. If we do not
                    hear from you, we will contact you again to request notification of your choices. If we have time we
                    will provide the time of 7 days to decide for your choices. If you did not respond to us, we will be
                    considering that you accept the change or alternative services. </li>
            </ul>
        </li>
        <li>
            <h6>COMPLAINTS</h6>
            <ul>
                <li>We will be having suppliers at your trip services to recover your queries and concerns. If you have
                    any problem related to our services while using them, you must inform or report to our suppliers
                    immediately. If you miss reporting to our suppliers, you will be having less opportunity for our
                    suppliers to investigate and rectify your complaint and the amount of compensation may be reduced or
                    extinguished. </li>
                <li>After your trip, if you are unsatisfied with our suppliers or from our services, you can write a
                    letter for our .......................... within ..... days. We will try to assist you. </li>
                <li>You must acceptably conduct yourself to our suppliers or any authorized person. If any chance our
                    suppliers find or opinionated about you or any member of your party is causing or de-stressing,
                    danger or annoyance to any other customers or any third party, or damage property, delay or
                    diversion to transportation, then our suppliers can cancel or terminate your bookings immediately
                    with no further liability to you. </li>
                <li>You or your party need to pay for loss or damage caused by you or your party. The payment can be
                    done by an individual or jointly for any damage or losses caused. If you failed to make full payment
                    before your departure, you will be responsible for meeting any claims(including legal costs). </li>
                <li>We cannot be held responsible for any kind of actions or behaviour of other guests or individuals
                    who have no connection with your booking arrangements or with us. </li>
            </ul>
        </li>
    </ol>


</div>


<app-footer>

</app-footer>