<topbar-dir></topbar-dir>
<br /><br />

<div class="container clearfix">
    <h2 class="font-weight-bold text-danger text-center">Contact Us</h2>
    <br /><br />
    <div class="row">
        <div class="col-md-6 mt-lg-4">
            <h6> <span><i class="fas fa-briefcase"></i></span> Corporate Office</h6>
            <p>Holiday Triangle Travel Private Limited
                Plot No -29 , 3rd & 4th Floor Dynamic House, Maruti Industrial Complex Sector 18,
                Gurugram - 122015, Haryana</p>
            <br />
            <h6><span><i class="fas fa-envelope-open-text"></i></span> Customer Email ID</h6>
            <p>customercare@traveltriangle.com</p>
            <br />
            <h6><span><i class="fas fa-phone-volume"></i></span>Tollfree Number</h6>
            <div>1800 123 5555</div>
            <div class="small text-muted">Available Monday to Saturday 10 AM - 7 PM</div>
        </div>
        <div class="col-md-6 clearfix">
         
        </div>
    </div>
</div>