<div class="row">
    <div class="col-md-5 my-auto px-4">
        <h4 class="h1" >Chat with Stranger Travellers</h4>
        <p class="small text-muted" >Fill in your requirements
            here Fill in your requirements  in your requirements
            here  Fill in your requirements Fill in your requirements Fill in your 
            here  Fill in your requirements Fill in your requirements Fill in your requirements
        </p>
        <button class="btn btn-danger mt-3 rounded-pill">Connect to Community</button>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5 ">
        <img class="img-fluid card-img d-none d-md-block"
        src="https://image.freepik.com/free-vector/group-chat-concept-illustration_114360-1495.jpg" alt="">
    
    </div>
   
    
</div>