<div id="cards_landscape_wrap-2">
    <div class="container-fluid ">
        <div class="pt-2 pl-2">
            <button type="button" (click)="scrollRight()" class="btn btn-secondary btn-circle btn-sm float-right btn-circle-right"><i
                class="fa fa-chevron-right"></i>
            </button>
            <button type="button" (click)="scrollLeft()" class="btn  btn-secondary btn-circle btn-sm float-right btn-circle-left"><i
                    class="fa fa-chevron-left p-0"></i>
            </button>
            <a href="Viewall" class="float-right text-danger font-weight-bold mt-3">View All Deals</a>
            <p class="h5 " style="color:black">heading</p>  
        <span class="small">
           You have 1234+ packages
        </span>
        </div>
        
        <div #widgetsContent class="d-flex flex-nowrap cont pb-3">
            <div   *ngFor="let child of items">
                <a href="">
                    <div class="card-flyer card p-1">
                        <div class="text-box">
                            <div class="image-box">
                                <img [src]="child.img" alt=""  class="img-fluid"/>
                            </div>
                            <div class="text-container">
                                <h6 class="h6 text-black">{{child.title}}</h6>
                                <p *ngIf="child.desc != ''"><span class="truncate">{{child.disc}}</span></p>
                            </div>
                            <div>
                                <a class="float-right" href="#">More Details</a>
                            </div>
                                
                            
                        </div>
                    </div>
                </a>
            </div>
        </div>
       
   
    </div>
</div>