<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            <div  class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let child of items">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img [src]="child.img" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>{{child.title}}</h6>
                                <p>{{child.disc}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>