<topbar-dir></topbar-dir>
<div class="">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://image.freepik.com/free-photo/male-hand-holding-we-are-hiring-text_220873-849.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://image.freepik.com/free-photo/portrait-smiling-courier-woman-red-uniform_151013-17236.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://image.freepik.com/free-vector/mix-race-hr-managers-holding-we-are-hiring-join-us-posters-vacancy-open-recruitment-human-resources-concept-office-corridor-interior-horizontal-full-length-vector-illustration_48369-34951.jpg" alt="Third slide">
          </div>
        </div>
      </div>
</div>
<!---------------------------------- our Service --------------------------------------->

<div class="section bg-light pt-5">
    <div class="container-fluid">
      <div class="title-area">
        <h4 class="text-muted">Along the way, we're creating a collaborative environment that supports our people in doing great work together. And this is how we do it.</h4>
       
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="info-icon">
            <div class="icon text-danger">
                <i class="fas fa-couch"></i>
            </div>
            <h6>LIVELY, ORGANIC WORKSPACES</h6>
            <p class="description">No cubes and no cube-dwellers
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info-icon">
            <div class="icon text-danger">
              <i class="fas fa-user-shield"></i>
            </div>
            <h6>GO PLACES. LITERALLY!</h6>
            <p class="description">Take 3 months off. We'll welcome you back</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info-icon">
            <div class="icon text-danger">
                <i class="fas fa-balance-scale"></i>
            </div>
            <h6>LIFE-WORK BALANCE</h6>
            <p class="description">Flexible hours. Strictly no-overworking</p>
          </div>
        </div>
        <div class="col-md-3">
            <div class="info-icon">
              <div class="icon text-danger">
                <i class="fas fa-poll"></i>
              </div>
              <h6>GROWTH</h6>
              <p class="description">An unfettered, dynamic career to nurture your ambition</p>
            </div>
          </div>
      </div>
    </div>
  </div>
  <br/>
 
  
  <div class="container-fluid mt-2">
    <div class="title-area mb-3">
        <h5 class="text-center">Jobs we are Hiring</h5>
      </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Position</th>
            <th scope="col">Year of Exp</th>
            <th scope="col">Posted Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Dev</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
  </div>
  <hr/>
  <div class="text-center mt-1 mb-2">
      <p>Submit your CV Here</p>
    <a href="mailto:WesternTravellers.com?subject=Mail from our Website" class="btn btn-danger ">Apply</a>
    
  </div>
  <div class="text-center">
    OR
  </div>
  <div class="text-center mb-3 text-danger">
   WesternTraveller@carreer.com
  </div>
 
  <app-footer></app-footer>