<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item " data-ride="carousel">

    <!--Controls-->
    <!-- <div class="controls-top text-center">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>&nbsp;
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div> -->
    <a class="carousel-control-prev" id="con" href="#multi-item-example" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next"   href="#multi-item-example" role="button" data-slide="next">
        <span class="carousel-control-next-icon"  aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
    


    <!--Slides-->

    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item" [ngClass]="i == 0 ? 'active' : '' " *ngFor="let child of items;let i = index">
            <div class="row">
                <div class="col-md-4 ">
                    <a href="">
                        <div class="card p-2">
                            <div class="row">
                               <div class="col-3 px-4 pt-4">
                                <i class="fa-3x" [ngClass]="child.icon1"></i>
                               </div>   
                                <div  class="col-9 py-2 pl-3 ">
                                    <h5 class="card-title">{{child.heading1}}</h5>
                                    <p class="card-text">{{child.discription1}}</p>
                                </div>
                            </div>
                        </div>
                        </a>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <a href="">
                        <div class="card p-2">
                            <div class="row">
                               <div class="col-md-3 pl-3 pt-4">
                                <i class="fa-3x" [ngClass]="child.icon2"></i>
                               </div>
                                <div  class="col-md-9 py-2 pl-3">
                                    <h5 class="card-title">{{child.heading2}}</h5>
                                    <p class="card-text">{{child.discription2}}</p>
                                </div>
                            </div>
                        </div>
                        </a>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <a href="">
                        <div class="card p-2">
                            <div class="row">
                                <div class="col-md-3 pl-3">
                                    <i class="fa-4x" [ngClass]="child.icon3"></i>
                                   </div>
                                    <div  class="col-md-9 py-2 pl-0 pr-4">
                                        <h5 class="card-title">{{child.heading3}}</h5>
                                        <p class="card-text">{{child.discription3}}</p>
                                    </div>
                            </div>
                        </div>
                        </a>
                </div>
            </div>

        </div>


    </div>

    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->