$primary: #53a5c6;
.card{
    border-color: $primary;
}
i{
    color: $primary;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(30%);
}

.card-title .card-text{
    color: #000;
}
a{
    text-decoration: none;
}