<footer>
    <div class="footer-wrap">
    <div class="container first_class">
        
    </div>
      <div class="second_class">
        <div class="container-fluid second_class_bdr px-5">
        <div class="row">
          <div class="col-md-4 col-sm-6">
  
            <div class="footer-logo"><img src="/assets/skins/western_travellers_1.png" alt="logo">
            </div>
            <p>Your well-known Travell platform to find best Places, Theames, Hotel, Plan, and best qoutes As per Your Budget.</p>
            <div class="col-md-12">
              <div class="standard_social_links">
            <div>
              <li class="round-btn btn-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a>
    
              </li>
              <li class="round-btn btn-linkedin"><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
    
              </li>
              <li class="round-btn btn-twitter"><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    
              </li>
              <li class="round-btn btn-instagram"><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
    
              </li>
              <li class="round-btn btn-whatsapp"><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
    
              </li>
              <li class="round-btn btn-envelop"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    
              </li>
            </div>
          </div>  
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <h3>Quick  LInks</h3>
            <ul class="footer-links">
              <li><a href="/">Home</a>
              </li>
              <li><a href="#">About us</a>
              </li>
              <li><a href="#">FAQ's</a>
              </li>
              <li><a href="#">Privacy Policy</a>
              </li>
              <li><a href="#" target="_blank">Terms &amp; Conditions</a>
              </li>
              <li><a href="/Career" target="_blank">Career</a>
              </li>
              <li><a href="#">Sitemap</a>
              </li>
              <li><a href="#">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h3>OUR SERVICES</h3>
            <ul class="footer-category">
              <li><a href="">Tour Packages</a>
              </li>
              <li><a href="#">Honeymoon Packages</a>
              </li>
              <li><a href="#">Family Packages</a>
              </li>
              <li><a href="#">Weekend Packages</a>
              </li>
              <li><a href="#">Adventure Packages</a>
              </li>
              <li><a href="#">Community</a>
              </li>
              <li><a href="#">Offers</a>
              </li>
              <li><a href="#">Theme based Packages</a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="col-md-3 col-sm-6">
            <h3>Important Travell  LInks</h3>
            <ul class="footer-links">
              <li><a href="#">Cruise</a>
              </li>
  
              <li><a href="#">Blog</a>
              </li>
            </ul>
          </div>
        </div>
        
      </div>
      </div>
      
      <div class="row">
        
        <div class="container-fluid">
        <div class="copyright"> Copyright 2021 | All Rights Reserved by Western Travellers.</div>
        </div>
        
      </div>
    </div>
    
    </footer>