<div class="container-fluid Padleftright  mx-auto pt-0">

  <div class="card card-white mt-4">
    <div class="row d-flex justify-content-between px-3 top">
      <div class="d-flex ">
        <p class="h4 text-info ">Kerala</p><span class=" font-weight-bold small ml-3 mt-2 text-muted">Booking
          ID: 7918740 <span>|</span>
        </span><span class=" font-weight-bold small ml-1 mt-2 text-muted">Cancelled
        </span>
      </div>
      <!-- <div class="d-flex flex-column text-sm-right">
                
                <p>Trip Status: <span class="font-weight-bold">Cancelled</span></p>
            </div> -->
    </div> <!-- Add class 'active' to progress -->
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <ul id="progressbar" class="text-center">
          <li class="active step0">
            <p class="font-weight-bold mt-1">Request Confirmed</p>
          </li>
          <li class="active step0">
            <p class="font-weight-bold mt-1">Quote Received</p>
          </li>
          <li class="active step0">
            <p class="font-weight-bold mt-1">Invoice Received</p>
          </li>
          <li class="active step0">
            <p class="font-weight-bold mt-1">Booking Confirmed</p>
          </li>
          <li class="step0">
            <p class="font-weight-bold mt-1">Voucher Received</p>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!---------------------------------------------- qoutes details ------------------------------------------->
  <div class="page-name">
    <h3 class="h5 ">Offered Qoutes</h3>
    <p class="text-muted pb-0 mb-0">Some of the best offers </p>
  </div>
  <div class="d-flex row">
    <div class="col-md-6">
      <div class="card card-white grid-margin">
        <span class="bg-white px-2 py-0"> 
          <span class="h6 text-info">Travell Qoutes</span> 
          <span class="float-right small text-success "><i class="far fa-clock mr-2"></i>updated 1 week ago</span>
        </span>
        <div class="card-bady p-2">
          <p class=" pb-0 mb-0 elipsis">Some of the best offers for summer you can spend it here</p>
          <div class="row mt-3">
           <div class="col-6">
            <h5 class="text-success ">$ 21,343 /-</h5>
           </div> 
           <div class="col-6">
            <button type="button" class="btn btn-primary btn-sm float-right ">View Quote</button>
          </div> 
          </div>
        </div>
      </div> 
    </div>
    <div class="col-md-6">
      <div class="card card-white grid-margin">
        <span class="bg-white px-2 py-0"> 
          <span class="h6 text-info">Travell Qoutes</span> 
          <span class="float-right small text-success "><i class="far fa-clock mr-2"></i>updated 1 week ago</span>
        </span>
        <div class="card-bady p-2">
          <p class=" pb-0 mb-0 elipsis">Some of the best offers for summer you can spend it here</p>
          <div class="row mt-3">
           <div class="col-6">
            <h5 class="text-success ">$ 21,343 /-</h5>
           </div> 
           <div class="col-6">
            <button type="button" class="btn btn-primary btn-sm float-right ">View Quote</button>
          </div> 
          </div>
        </div>
      </div> 
    </div>
    <div class="col-md-6">
      <div class="card card-white grid-margin">
        <span class="bg-white px-2 py-0"> 
          <span class="h6 text-info">Travell Qoutes</span> 
          <span class="float-right small text-success "><i class="far fa-clock mr-2"></i>updated 1 week ago</span>
        </span>
        <div class="card-bady p-2">
          <p class=" pb-0 mb-0 elipsis">Some of the best offers for summer you can spend it here</p>
          <div class="row mt-3">
           <div class="col-6">
            <h5 class="text-success ">$ 21,343 /-</h5>
           </div> 
           <div class="col-6">
            <button type="button" class="btn btn-primary btn-sm float-right ">View Quote</button>
          </div> 
          </div>
        </div>
      </div> 
    </div>
    

   
  </div>
 
  

  <!---------------------------------------------- offer section -------------------------------------------->
  <div class="page-name">
    <h3 class="h5 ">Offers Details</h3>
    <p class="text-muted pb-0 mb-0">Some of the best offers for summer</p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="coupon bg-white rounded mb-3 d-flex justify-content-between">
        <div class="kiri p-3">
          <div class="icon-container ">
            <div class="icon-container_box">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/12/31/backpack-145841__340.png" width="85"
                alt="totoprayogo.com" class="img-fluid" />
            </div>
          </div>
        </div>
        <div class="tengah py-3 d-flex w-100 justify-content-start">
          <div>
            <h5 class="lead h6">Coupon Detail goes here </h5>
            <p class="text-muted mb-0">Short info about voucher</p>
          </div>
        </div>
        <div class="kanan">
          <div class="info m-3 d-flex align-items-center">
            <div class="w-100">
              <div class="block">
                <span class="time font-weight-light">
                  <span class="h4 text-center"></span>
                </span>
              </div>
              <a href="https://www.totoprayogo.com" target="_blank" class="btn btn-sm btn-outline-danger btn-block">
                show
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="coupon bg-white rounded mb-3 d-flex justify-content-between">
        <div class="kiri p-3">
          <div class="icon-container ">
            <div class="icon-container_box">
              <img src="https://cdn.pixabay.com/photo/2013/07/13/10/07/bus-156594__340.png" width="85"
                alt="totoprayogo.com" class="img-fluid" />
            </div>
          </div>
        </div>
        <div class="tengah py-3 d-flex w-100 justify-content-start">
          <div>
            <h5 class="lead h5">Coupon Detail goes here </h5>
            <p class="text-muted mb-0">Short info about voucher</p>
          </div>
        </div>
        <div class="kanan">
          <div class="info m-3 d-flex align-items-center">
            <div class="w-100">
              <div class="block">
                <span class="time font-weight-light">
                  <span></span>
                </span>
              </div>
              <a href="https://www.totoprayogo.com" target="_blank" class="btn btn-sm btn-outline-danger btn-block">
                show
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------------------------- FAQ section --------------------------------------------->
  <div class="page-name">
    <h3 class="h5">FAQs</h3>
    <p class="text-muted pb-0 mb-0">Queries about Kerala</p>
  </div>
  <div id="accordion" class="myaccordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="d-flex align-items-center justify-content-between btn btn-link" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Is Kerala open for tourism?
            <span class="fa-stack fa-sm">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-minus fa-stack-1x fa-inverse"></i>
            </span>
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Yes, Kerala is a famous tourist destination in India.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="d-flex align-items-center justify-content-between btn btn-link collapsed"
            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Why is Kerala famous for tourism?
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
            </span>
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Kerala is famous for tourism due to its pristine surroundings and pleasant weather.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="d-flex align-items-center justify-content-between btn btn-link collapsed"
            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            How much does it cost to visit Kerala?
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
            </span>
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          The cost to explore major attractions of Kerala is approximately INR 32,000.
        </div>
      </div>
    </div>
  </div>
  <div class="page-name">
    <h3 class="h5">Choose The Things You Want To Do</h3>
    <p class="text-muted pb-0 mb-0">Your list of the best things to do, compiled on the basis of actual traveler
      experiences</p>
  </div>
  <app-simplecard [items]="datasource"></app-simplecard>

  <div class="page-name">
    <h3 class="h5">Explore The Places You Can Visit</h3>
    <p class="text-muted pb-0 mb-0">Let the experts guide you to the best of this mesmerizing destination</p>
  </div>
  <app-simplecard [items]="datasource"></app-simplecard>
</div>
<br /><br />
<!------------------------------------------------ footer ------------------------------------------------>
<section class="footers bg-light pt-3 pb-3">
  <div class="container pt-5">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
        <div class="footers-logo">

          <img src="/assets/skins/western_travellers_1.png" width="150px" alt="">
        </div>
        <div class="footers-info mt-3">
          <p>Cras sociis natoque penatibus et magnis Lorem Ipsum tells about the compmany right now the best.</p>
        </div>
        <div class="social-icons">
          <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
          <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
          <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
          <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
        <h5>Essentials </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">Search</a></li>
          <li><a href="contact.html">Sell your Car</a></li>
          <li><a href="about.html">Advertise with us</a></li>
          <li><a href="about.html">Dealers Portal</a></li>
          <li><a href="about.html">Post Requirements</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
        <h5>Information </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">Register Now</a></li>
          <li><a href="contact.html">Advice</a></li>
          <li><a href="about.html">Videos</a></li>
          <li><a href="about.html">Blog</a></li>
          <li><a href="about.html">Services</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
        <h5>Explore </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">News</a></li>
          <li><a href="contact.html">Sitemap</a></li>
          <li><a href="about.html">Testimonials</a></li>
          <li><a href="about.html">Feedbacks</a></li>
          <li><a href="about.html">User Agreement</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
        <h5>Company </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">Career</a></li>
          <li><a href="about.html">For Parters</a></li>
          <li><a href="about.html">Terms</a></li>
          <li><a href="about.html">Policy</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>
<section class="disclaimer bg-light border">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 py-2">
        <small>
          Disclaimer: Element Limited is only an intermediary offering its platform to facilitate the transactions
          between Seller and Customer/Buyer/User and is not and cannot be a party to or control in any manner any
          transactions .
        </small>
      </div>
    </div>
  </div>
</section>
<section class="copyright border">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 pt-3">
        <p class="text-muted">© 2018 xyz Software Pvt. Ltd.</p>
      </div>
    </div>
  </div>
</section>