<section class="mt-5 p-3 container-fluid">

    <h1 class="h1 mb-3">
        Explore All
    </h1>
<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#Indian">Indian Destinations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#International">International Destinations</a>
    </li>
   
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active" id="Indian">...</div>
    <div class="tab-pane container fade" id="International">...</div>
   
  </div>
</section>