<mainnav></mainnav>
<br/>
<section class="mt-5 p-0 ">
  <h4 class="h3 text-center pt-2 pb-3">Amazing Holiday Packages</h4>
  <div class="container-fluid">
    <nav class="tabbable mb-2">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#Honeymoon" role="tab"
          aria-controls="nav-home" aria-selected="true">Honeymoon Packages</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#Family" role="tab"
          aria-controls="nav-profile" aria-selected="false">Family Packages</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#Holiday" role="tab"
          aria-controls="nav-contact" aria-selected="false">Holiday Packages</a>
        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#Luxury" role="tab"
          aria-controls="nav-home" aria-selected="true">Luxury Packages</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#Trecking" role="tab"
          aria-controls="nav-profile" aria-selected="false">Trecking Packages</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#Adventures" role="tab"
          aria-controls="nav-contact" aria-selected="false">Adventures Packages</a>

      </div>
    </nav>
    <div class="tab-content pt-2" id="nav-tabContent">
      <div class="tab-pane fade show active" id="Honeymoon" role="tabpanel" aria-labelledby="nav-Honeymoon-tab">
        <div class="row">
          <div class="col-sm-6">
            <div class="card card-white grid-margin ">

              <div class="card-heading clearfix">
                <h4 class="card-title">Indian Destinations</h4>
                <p>Basic info, for a faster booking experience </p>
                <hr/>
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td><a href="/HoneyMoon/Kerala">Kerala</a></td>
                      <td><a href="">Goa</a></td>
                      <td><a href="">Himachala</a></td>
                    </tr>
                    <tr>
                      <td><a href="">Sikkim</a></td>
                      <td><a href="">Uttarakand</a></td>
                      <td><a href="">Rajastan</a></td>
                    </tr>
                    
                      <tr>
                        <td><a href="">Andaman</a></td>
                        <td><a href="">Kashmir</a></td>
                        <td><a href="">Tamilandu</a></td>
                      </tr>
                      <tr>
                        <td><a href="">Karnataka</a></td>
                        <td><a href="">coorge</a></td>
                        <td><a href="" style="color: #00bdd4;">View All</a></td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card card-white grid-margin ">

              <div class="card-heading clearfix">
                <h4 class="card-title">International Destinations</h4>
                <p>Basic info, for a faster booking experience </p>
                <hr/>
              </div>
              <div class="card-body p-0">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td><a href="">Thiland</a></td>
                      <td><a href="">Singapur</a></td>
                      <td><a href="">Srilanka</a></td>
                    </tr>
                    <tr>
                      <td><a href="">Europe</a></td>
                      <td><a href="">Maldives</a></td>
                      <td><a href="">Dubai</a></td>
                    </tr>
                    <tr>
                      <td><a href="">Swizerland</a></td>
                      <td><a href="">Honkking</a></td>
                      <td><a href="">Mauritius</a></td>
                    </tr>
                    <tr>
                      <td><a href="">Baali</a></td>
                      <td><a href="">NewZeland</a></td>
                      <td><a href="" style="color: #00bdd4;">View All</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          
        </div>

      </div>
      <div class="tab-pane fade" id="Family" role="tabpanel" aria-labelledby="nav-Family-tab">
        <div class="row">
          <div class="col-sm-6">
            <div class="card card-white grid-margin ">

              <div class="card-heading clearfix">
                <h4 class="card-title">Indian Destinations</h4>
                <p>Basic info, for a faster booking experience </p>
                <hr/>
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td><a href="/Family/Kerala">Kerala</a></td>
                      <td><a href="">Goa</a></td>
                      <td><a href="">Himachala</a></td>
                    </tr>
                    <tr>
                      <td><a href="">Sikkim</a></td>
                      <td><a href="">Uttarakand</a></td>
                      <td><a href="">Rajastan</a></td>
                    </tr>
                    
                      <tr>
                        <td><a href="">Andaman</a></td>
                        <td><a href="">Kashmir</a></td>
                        <td><a href="">Tamilandu</a></td>
                      </tr>
                      <tr>
                        <td><a href="">Karnataka</a></td>
                        <td><a href="">coorge</a></td>
                        <td><a href="" style="color: #00bdd4;">View All</a></td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card card-white grid-margin ">

              <div class="card-heading clearfix">
                <h4 class="card-title">International Destinations</h4>
                <p>Basic info, for a faster booking experience </p>
                <hr/>
              </div>
              <div class="card-body p-0">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td><a href="">Thiland</a></td>
                      <td><a href="">Singapur</a></td>
                      <td><a href="">Srilanka</a></td>
                    </tr>
                    <tr>
                      <td><a href="">Europe</a></td>
                      <td><a href="">Maldives</a></td>
                      <td><a href="">Dubai</a></td>
                    </tr>
                    <tr>
                      <td><a href="">Swizerland</a></td>
                      <td><a href="">Honkking</a></td>
                      <td><a href="">Mauritius</a></td>
                    </tr>
                    <tr>
                      <td><a href="">Baali</a></td>
                      <td><a href="">NewZeland</a></td>
                      <td><a href="" style="color: #00bdd4;">View All</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          
        </div>
      </div>
      <div class="tab-pane fade" id="Holiday" role="tabpanel" aria-labelledby="nav-Holiday-tab"> <div class="row">
        <div class="col-sm-6">
          <div class="card card-white grid-margin ">

            <div class="card-heading clearfix">
              <h4 class="card-title">Indian Destinations</h4>
              <p>Basic info, for a faster booking experience </p>
              <hr/>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><a href="">Kerala</a></td>
                    <td><a href="">Goa</a></td>
                    <td><a href="">Himachala</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Sikkim</a></td>
                    <td><a href="">Uttarakand</a></td>
                    <td><a href="">Rajastan</a></td>
                  </tr>
                  
                    <tr>
                      <td><a href="">Andaman</a></td>
                      <td><a href="">Kashmir</a></td>
                      <td><a href="">Tamilandu</a></td>
                    </tr>
                    <tr>
                      <td><a href="">Karnataka</a></td>
                      <td><a href="">coorge</a></td>
                      <td><a href="" style="color: #00bdd4;">View All</a></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-white grid-margin ">

            <div class="card-heading clearfix">
              <h4 class="card-title">International Destinations</h4>
              <p>Basic info, for a faster booking experience </p>
              <hr/>
            </div>
            <div class="card-body p-0">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><a href="">Thiland</a></td>
                    <td><a href="">Singapur</a></td>
                    <td><a href="">Srilanka</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Europe</a></td>
                    <td><a href="">Maldives</a></td>
                    <td><a href="">Dubai</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Swizerland</a></td>
                    <td><a href="">Honkking</a></td>
                    <td><a href="">Mauritius</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Baali</a></td>
                    <td><a href="">NewZeland</a></td>
                    <td><a href="" style="color: #00bdd4;">View All</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        
      </div></div>
      <div class="tab-pane fade" id="Luxury" role="tabpanel" aria-labelledby="nav-Holiday-tab"> <div class="row">
        <div class="col-sm-6">
          <div class="card card-white grid-margin ">

            <div class="card-heading clearfix">
              <h4 class="card-title">Indian Destinations</h4>
              <p>Basic info, for a faster booking experience </p>
              <hr/>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><a href="">Kerala</a></td>
                    <td><a href="">Goa</a></td>
                    <td><a href="">Himachala</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Sikkim</a></td>
                    <td><a href="">Uttarakand</a></td>
                    <td><a href="">Rajastan</a></td>
                  </tr>
                  
                    <tr>
                      <td><a href="">Andaman</a></td>
                      <td><a href="">Kashmir</a></td>
                      <td><a href="">Tamilandu</a></td>
                    </tr>
                    <tr>
                      <td><a href="">Karnataka</a></td>
                      <td><a href="">coorge</a></td>
                      <td><a href="" style="color: #00bdd4;">View All</a></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-white grid-margin ">

            <div class="card-heading clearfix">
              <h4 class="card-title">International Destinations</h4>
              <p>Basic info, for a faster booking experience </p>
              <hr/>
            </div>
            <div class="card-body p-0">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><a href="">Thiland</a></td>
                    <td><a href="">Singapur</a></td>
                    <td><a href="">Srilanka</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Europe</a></td>
                    <td><a href="">Maldives</a></td>
                    <td><a href="">Dubai</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Swizerland</a></td>
                    <td><a href="">Honkking</a></td>
                    <td><a href="">Mauritius</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Baali</a></td>
                    <td><a href="">NewZeland</a></td>
                    <td><a href="" style="color: #00bdd4;">View All</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        
      </div></div>
      <div class="tab-pane fade" id="Trecking" role="tabpanel" aria-labelledby="nav-Holiday-tab"> <div class="row">
        <div class="col-sm-6">
          <div class="card card-white grid-margin ">

            <div class="card-heading clearfix">
              <h4 class="card-title">Indian Destinations</h4>
              <p>Basic info, for a faster booking experience </p>
              <hr/>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><a href="">Kerala</a></td>
                    <td><a href="">Goa</a></td>
                    <td><a href="">Himachala</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Sikkim</a></td>
                    <td><a href="">Uttarakand</a></td>
                    <td><a href="">Rajastan</a></td>
                  </tr>
                  
                    <tr>
                      <td><a href="">Andaman</a></td>
                      <td><a href="">Kashmir</a></td>
                      <td><a href="">Tamilandu</a></td>
                    </tr>
                    <tr>
                      <td><a href="">Karnataka</a></td>
                      <td><a href="">coorge</a></td>
                      <td><a href="" style="color: #00bdd4;">View All</a></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-white grid-margin ">

            <div class="card-heading clearfix">
              <h4 class="card-title">International Destinations</h4>
              <p>Basic info, for a faster booking experience </p>
              <hr/>
            </div>
            <div class="card-body p-0">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><a href="">Thiland</a></td>
                    <td><a href="">Singapur</a></td>
                    <td><a href="">Srilanka</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Europe</a></td>
                    <td><a href="">Maldives</a></td>
                    <td><a href="">Dubai</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Swizerland</a></td>
                    <td><a href="">Honkking</a></td>
                    <td><a href="">Mauritius</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Baali</a></td>
                    <td><a href="">NewZeland</a></td>
                    <td><a href="" style="color: #00bdd4;">View All</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        
      </div></div>
      <div class="tab-pane fade" id="Adventures" role="tabpanel" aria-labelledby="nav-Holiday-tab"> <div class="row">
        <div class="col-sm-6">
          <div class="card card-white grid-margin ">

            <div class="card-heading clearfix">
              <h4 class="card-title">Indian Destinations</h4>
              <p>Basic info, for a faster booking experience </p>
              <hr/>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><a href="">Kerala</a></td>
                    <td><a href="">Goa</a></td>
                    <td><a href="">Himachala</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Sikkim</a></td>
                    <td><a href="">Uttarakand</a></td>
                    <td><a href="">Rajastan</a></td>
                  </tr>
                  
                    <tr>
                      <td><a href="">Andaman</a></td>
                      <td><a href="">Kashmir</a></td>
                      <td><a href="">Tamilandu</a></td>
                    </tr>
                    <tr>
                      <td><a href="">Karnataka</a></td>
                      <td><a href="">coorge</a></td>
                      <td><a href="" style="color: #00bdd4;">View All</a></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-white grid-margin ">

            <div class="card-heading clearfix">
              <h4 class="card-title">International Destinations</h4>
              <p>Basic info, for a faster booking experience </p>
              <hr/>
            </div>
            <div class="card-body p-0">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><a href="">Thiland</a></td>
                    <td><a href="">Singapur</a></td>
                    <td><a href="">Srilanka</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Europe</a></td>
                    <td><a href="">Maldives</a></td>
                    <td><a href="">Dubai</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Swizerland</a></td>
                    <td><a href="">Honkking</a></td>
                    <td><a href="">Mauritius</a></td>
                  </tr>
                  <tr>
                    <td><a href="">Baali</a></td>
                    <td><a href="">NewZeland</a></td>
                    <td><a href="" style="color: #00bdd4;">View All</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> 
      </div></div>

    </div>
  </div>
</section>