
<section class="mt-5">

  <div class="container  pb-2 " >
    <h1 class="h1 text-center  pb-2" style="color:black">Browse Packages through holiday Themes</h1>
    <div class="grpicon blk" >
      <div class="mr-2 text-center" *ngFor="let child of holidaytheme">
        <a href="#">
          <div class="card service-card card-inverse icard" data-aos="flip-right"  data-aos-duration="1000">
            <div class="card-block">
              <img [src]="child.icon" alt="..." />
            </div>
          </div>
          <p class="ml-2">{{child.name}}</p>
        </a>
      </div>


    </div>
  </div>
  <!-- <div class="container ">
    <h2 class="h2  mb-5" style="color:black">Browse packages through holiday THEMES</h2>
    <card-captioncarousel [items]="carocaption"></card-captioncarousel>
  </div> -->
</section>
<section class="our-blog p-0 m-0 bg-silver">
  
  <div class="container work-process  pb-3 pt-3">
      <div class="title mb-5 text-center">
      <h1>Our <span class="site-color">Few Process</span></h1>
  </div>
      <!-- ============ step 1 =========== -->
      <div class="row">
          <div class="col-md-5">
              <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">01</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>What is Lorem Ipsum?</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-l"></div>
              </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-point-right"></div>
          </div>
      </div>
      <!-- ============ step 2 =========== -->
      <div class="row">
          
          <div class="col-md-5">
              <div class="process-point-left"></div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">02</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>What is Lorem Ipsum?</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-r"></div>
              </div>
          </div>

      </div>
      <!-- ============ step 3 =========== -->
      <div class="row">
          <div class="col-md-5">
              <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">03</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>What is Lorem Ipsum?</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-l"></div>
              </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-point-right"></div>
          </div>
      </div>
      <!-- ============ step 4 =========== -->
      <div class="row">
          <div class="col-md-5">
              <div class="process-point-left"></div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">04</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>What is Lorem Ipsum?</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-r"></div>
              </div>
          </div>
          
          
      </div>
      <!-- ============ step 3 =========== -->
      <div class="row">
          <div class="col-md-5">
              <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="process-step">
                              <p class="m-0 p-0">Step</p>
                              <h2 class="m-0 p-0">05</h2>
                          </div>
                      </div>
                      <div class="col-md-7">
                          <h5>What is Lorem Ipsum?</h5>
                          <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                      </div>
                  </div>
                  <div class="process-line-l"></div>
              </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
              <div class="process-point-right process-last"></div>
          </div>
      </div>
      <!-- ============ -->
  </div>
  
</section>
<br />
<section>
  <div class="container">
    <h1 class="h1 text-center" style="color:black">Explore Best Selling Packages</h1>

  </div>
</section>

<br />
<section>
  <div class="container">
    <div id="myBtnContainer1" (click)="onButtonGroupClick($event)">
      <button class="filbtn btn btn-secondary act">1 to 2 Days</button>
      <button class="filbtn btn btn-secondary">2 to 3 Days</button>
      <button class="filbtn btn btn-secondary">3 to 4 Days</button>
      <button class="filbtn btn btn-secondary">4 to 5 Days</button>
      <button class="filbtn btn btn-secondary">5 to 6 Days</button>
    </div>
    <br />
  </div>

  <xscrolablecard [items]="indiandest" [heading]="'Top International Destinations'"></xscrolablecard>
  <br />
  <xscrolablecard [items]="indiandest" [heading]="'Top Indian Destinations'"></xscrolablecard>
</section>
<br />
<!-- about service -->
<section>
  <div class="container">
    <h2 class="section-title  h2 text-center" style="color:black">About our services</h2>
    <div class="card serv-block">
      <div class="row">
        <div class="col-md-6">
          <div class="card-block">

            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
              leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
              the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
              software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p class="card-text">Tina bangalur</p>

          </div>
        </div>
        <div class="col-md-6">
          <div class="card-img-bottom">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<!-- image carousel -->
<section>
  <div class="container ">
    <h2 class="section-title  h2 text-center mb-4" style="color:black">Why Travel Western Travelers</h2>
    <card-imagecarousel [items]="caroimg"></card-imagecarousel>
  </div>
</section>
<br />
<!------------------------------------------------ filter only sections ------------------------------------------------>
<!-- Best priced packages with budjet -->
<section>
  <div class="container blk">
    <h2 class="h2  pb-3" style="color:black">Best priced packages within your BUDGET</h2>
    <div (click)="onButtonGroupClick($event)">
      <button class="filbtn btn btn-secondary act">10k Below</button>
      <button class="filbtn btn btn-secondary">10k to 20k</button>
      <button class="filbtn btn btn-secondary">20k to 40k</button>
      <button class="filbtn btn btn-secondary">40k to 60k</button>
      <button class="filbtn btn btn-secondary">60k to 80k</button>
      <button class="filbtn btn btn-secondary">80k above</button>
    </div>

    <app-simplecard [items]="datasource" class="mt-0"></app-simplecard>

  </div>
</section>
<br />
<!-- Best priced packages -->
<section>
  <div class="container blk">
    <h2 class="h2  pb-3" style="color:black">Best priced packages within your holiday DURATION</h2>
    <div (click)="onButtonGroupClick($event)">
      <button class="filbtn btn btn-secondary act">1 to 2 Days</button>
      <button class="filbtn btn btn-secondary">2 to 3 Days</button>
      <button class="filbtn btn btn-secondary">3 to 4 Days</button>
      <button class="filbtn btn btn-secondary">4 to 5 Days</button>
      <button class="filbtn btn btn-secondary">5 to 6 Days</button>
    </div>

    <app-simplecard [items]="datasource" class="mt-0"></app-simplecard>

  </div>
</section>
<br />
<!-- best seasanal package -->
<section>
  <div class="container blk">
    <h2 class="h2  pb-3" style="color:black">Best Priced SEASONAL TRAVEL</h2>
    <div id="myBtnContainer" (click)="onButtonGroupClick($event)">
      <button class="filbtn btn btn-secondary act" (click)="MonthfilterSelection('Jan')">Jan</button>
      <button class="filbtn btn btn-secondary" (click)="MonthfilterSelection('Feb')"> Feb</button>
      <button class="filbtn btn btn-secondary" (click)="MonthfilterSelection('Mar')"> Mar</button>
      <button class="filbtn btn btn-secondary" (click)="MonthfilterSelection('Apr')"> Apr</button>
      <button class="filbtn btn btn-secondary" (click)="MonthfilterSelection('May')"> May</button>
      <button class="filbtn btn btn-secondary" (click)="MonthfilterSelection('Jun')"> Jun</button>
      <button class="filbtn btn btn-secondary" (click)="MonthfilterSelection('Jul')"> Jul</button>
      <button class="filbtn btn btn-secondary" (click)="MonthfilterSelection('Aug')"> Aug</button>
      <button class="filbtn btn btn-secondary" (click)="MonthfilterSelection('Sep')"> Sep</button>
      <button class="filbtn btn btn-secondary" (click)="MonthfilterSelection('Oct')"> Oct</button>
      <button class="filbtn btn btn-secondary" (click)="MonthfilterSelection('Nov')"> Nov</button>
      <button class="filbtn btn btn-secondary" (click)="MonthfilterSelection('Dec')"> Dec</button>
    </div>

    <app-simplecard [items]="datasource" class="mt-0"></app-simplecard>

  </div>
</section>
<br />

<!------------------------------------------------ footer ------------------------------------------------>
<section class="footers bg-light pt-3 pb-3">
  <div class="container pt-5">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
        <div class="footers-logo">

          <img src="/assets/skins/western_travellers_1.png" width="150px" alt="">
        </div>
        <div class="footers-info mt-3">
          <p>Cras sociis natoque penatibus et magnis Lorem Ipsum tells about the compmany right now the best.</p>
        </div>
        <div class="social-icons">
          <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
          <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
          <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
          <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
        <h5>Essentials </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">Search</a></li>
          <li><a href="contact.html">Sell your Car</a></li>
          <li><a href="about.html">Advertise with us</a></li>
          <li><a href="about.html">Dealers Portal</a></li>
          <li><a href="about.html">Post Requirements</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
        <h5>Information </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">Register Now</a></li>
          <li><a href="contact.html">Advice</a></li>
          <li><a href="about.html">Videos</a></li>
          <li><a href="about.html">Blog</a></li>
          <li><a href="about.html">Services</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
        <h5>Explore </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">News</a></li>
          <li><a href="contact.html">Sitemap</a></li>
          <li><a href="about.html">Testimonials</a></li>
          <li><a href="about.html">Feedbacks</a></li>
          <li><a href="about.html">User Agreement</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
        <h5>Company </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">Career</a></li>
          <li><a href="about.html">For Parters</a></li>
          <li><a href="about.html">Terms</a></li>
          <li><a href="about.html">Policy</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>
<section class="disclaimer bg-light border">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 py-2">
        <small>
          Disclaimer: Element Limited is only an intermediary offering its platform to facilitate the transactions
          between Seller and Customer/Buyer/User and is not and cannot be a party to or control in any manner any
          transactions .
        </small>
      </div>
    </div>
  </div>
</section>
<section class="copyright border">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 pt-3">
        <p class="text-muted">© 2018 xyz Software Pvt. Ltd.</p>
      </div>
    </div>
  </div>
</section>