$primary: #00bcd4;
$icon:rgba(6, 163, 150, 0.911);
a{
  text-decoration: none;
  color: #000;
  font-weight: 400;
}
//covd section
.covidimg{
 height: 9rem;
}
// service block
.serv-block{
  background: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 7px 0 #00000057;
}
.blk{
  background: #fff;
  padding: 1rem;
  border-radius: 15px;
    box-shadow: 2px 2px 7px 0 #00000057;
    
}
//icon block
.grpicon{
  display: flex;
  overflow-x: scroll;
  margin-top: 1rem;
  &::-webkit-scrollbar {
    display: none;
  }
  
}
.icard:hover{
  -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}
.icard{
  position: relative;
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 0.4rem;
  margin: 0.44rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
  color: $icon;
  background: #fff;
 
}
//section

section .section-title{
    // text-align:left;
    color:$primary;
    margin-bottom:50px;
    text-transform:uppercase;
}

.card-block{
    padding: 1.2rem;
    position: relative;
}
.card-img-bottom {
    color: #fff;
    height: 25rem;
    padding-right: 0%;
    background: url(/assets/skins/rectangle_37.png) center no-repeat;
    background-size: cover;  
    border-radius: 0rem 0.6rem 0.6rem 0rem; 
  }


  //
  /* Style the buttons */
  #myBtnContainer{
      display: flexbox;
      width:100%;
    
  }
.filbtn {
   border: none;;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-radius: 15rem;
    margin-right: 1.2rem;
    width:fit-content;
    //-webkit-box-reflect: below 2px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.3)));
  }
  
  .filbtn:hover {
    background-color: #ddd;
  }
  
  .filbtn.act {
    background-color: $primary;
    color: white;
  }


  //footer
  #social-fb:hover {
    color: #3B5998;
    transition:all .001s;
}
#social-tw:hover {
    color: #4099FF;
    transition:all .001s;
}
#social-gp:hover {
    color: #d34836;
    transition:all .001s;
}
#social-em:hover {
    color: #f39c12;
    transition:all .001s;
}
  
 