$primary: #00bcd4;
$icon:rgba(6, 163, 150, 0.911);
a{
  text-decoration: none;
  color: #000;
  font-weight: 400;
}
// service block
.serv-block{
  background: #fff;
  
  border-radius: 15px;
    box-shadow: 2px 2px 7px 0 #00000057;
}
.blk{
  background: #fff;
  padding: 10px;
  border-radius: 15px;
    box-shadow: 2px 2px 7px 0 #00000057;
    
}
//icon block
.grpicon{
  display: flex;
  overflow-x: scroll;
  margin-top: 1rem;
  &::-webkit-scrollbar {
    display: none;
  }
  
}
.icard:hover{
  -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}
.icard{
  position: relative;
  width: 6.1rem;
  height: 6.1rem;
  border-radius: 0.4rem;
  margin: 0.44rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
  color: $icon;
  background: #fff;
 
}
//section
section{
    padding: 1rem 0;
}
section .section-title{
    // text-align:left;
    color:$primary;
    margin-bottom:50px;
    text-transform:uppercase;
}

.card-block{
    padding: 1.2rem;
    position: relative;
}
.card-img-bottom {
    color: #fff;
    height: 25rem;
    padding-right: 0%;
    background: url(/assets/skins/rectangle_37.png) center no-repeat;
    background-size: cover;  
    border-radius: 0rem 0.6rem 0.6rem 0rem; 
  }


  //
  /* Style the buttons */
  #myBtnContainer{
      display: flexbox;
      width:100%;
    
  }
.filbtn {
   border: none;;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-radius: 15rem;
    margin-right: 1.2rem;
    width:fit-content;
    //-webkit-box-reflect: below 2px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.3)));
  }
  
  .filbtn:hover {
    background-color: #ddd;
  }
  
  .filbtn.act {
    background-color: $primary;
    color: white;
  }


  //footer
  #social-fb:hover {
    color: #3B5998;
    transition:all .001s;
}
#social-tw:hover {
    color: #4099FF;
    transition:all .001s;
}
#social-gp:hover {
    color: #d34836;
    transition:all .001s;
}
#social-em:hover {
    color: #f39c12;
    transition:all .001s;
}
  
 //covid section
 .our-blog{
   overflow-x: hidden;
 }
 .process-box{
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  box-shadow: 2px 2px 7px 0 #00000057;
}
.process-left:after{
      content: "";
  border-top: 15px solid #ffffff;
  border-bottom: 15px solid #ffffff;
  border-left: 15px solid #ffffff;
  border-right: 15px solid #ffffff;
  display: inline-grid;
  position: absolute;
  right: -15px;
  top: 42%;
  transform: rotate(45deg);
  box-shadow: 3px -2px 3px 0px #00000036;
  z-index: 1;
}
.process-right:after{
      content: "";
  border-top: 15px solid #ffffff00;
  border-bottom: 15px solid #ffffff;
  border-left: 15px solid #ffffff;
  border-right: 15px solid #ffffff00;
  display: inline-grid;
  position: absolute;
  left: -15px;
  top: 42%;
  transform: rotate(45deg);
  box-shadow: -1px 1px 3px 0px #0000001a;
  z-index: 1;
}
.process-step{
  background: #00BCD4;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  height: 100%;
  padding-top: 8px;
  position: relative;
  top: -26px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: -6px 8px 0px 0px #00000014;
}
.process-point-right{
  background: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 8px solid #00bcd4;
  box-shadow: 0 0 0px 4px #5c5c5c;
  margin: auto 0;
  position: absolute;
  bottom: 40px;
  left: -63px;
}
.process-point-right:before{
  content: "";
  height: 144px;
  width: 11px;
  background: #5c5c5c;
  display: inline-grid;
  transform: rotate(36deg);
  position: relative;
  left: -50px;
  top: -0px;
}
.process-point-left{
  background: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 8px solid #00bcd4;
  box-shadow: 0 0 0px 4px #5c5c5c;
  margin: auto 0;
  position: absolute;
  bottom: 40px;
  right: -63px;
}
.process-point-left:before {
  content: "";
  height: 144px;
  width: 11px;
  background: #5c5c5c;
  display: inline-grid;
  transform: rotate(-38deg);
  position: relative;
  left: 50px;
  top: 0px;

}

.process-last:before{
  display: none;
}
.process-box p{
  z-index: 9;
}
.process-step p{
  font-size: 20px;
}
.process-step h2{
  font-size: 39px;
}
.process-step:after{
  content: "";
  border-top: 8px solid #04889800;
  border-bottom: 8px solid #048898;
  border-left: 8px solid #04889800;
  border-right: 8px solid #048898;
  display: inline-grid;
  position: absolute;
  left: -16px;
  top: 0;
}
.process-step:before{
  content: "";
  border-top: 8px solid #ff000000;
  border-bottom: 8px solid #048898;
  border-left: 8px solid #048898;
  border-right: 8px solid #ff000000;
  display: inline-grid;
  position: absolute;
  right: -16px;
  top: 0;
}
.process-line-l{
  background: white;
  height: 4px;
  position: absolute;
  width: 136px;
  right: -153px;
  top: 64px;
  z-index: 9;
}
.process-line-r{
  background: white;
  height: 4px;
  position: absolute;
  width: 136px;
  left: -153px;
  top: 63px;
  z-index: 9;
}