<div class="mainpage">
<topbar-dir></topbar-dir>
<mainnav></mainnav>

<br/>
<!-------------------------------- Offers ---------------------------------------->
<section>
  <app-offercard></app-offercard>
</section>
<br/>
<!-------------------------------------- theme ---------=---------------------------->
<section>
  <div class="container-fluid">
    <h3 class="h4 text-center section-title" style="color:black">Explore Best Selling Packages</h3>
    <hr />
  </div>
</section>
<section class="container-fluid mainpadding pb-4 mt-4">

  <div class="page-name mb-3 ml-3">
    <h3 class="h5 ">Explore destinations by theme
    </h3>
    <p class="text-muted pb-0 mb-0 small">Some of the best offers </p>
  </div>
  <app-themeshowcard [items]="themelinks"></app-themeshowcard>
</section>

<!---------------------------------- covid safty ==------------------------------------>
<section class="mainpadding  py-4">
  <covidsafety></covidsafety>
</section>
<br />
<!--------------------------------- how it works -------------------------------------->
<div class="section bg-light py-4 hideonsmall">
  <div class="container">
    <div class="text-center">
      <h2>How it works?</h2>
      <p class="description">Customize & Book</p>
    </div>
    <div class="">
      <div class="row">
        <div class="col-md-3">
  
          <div class="card featured-icon-card">
            <!-- <div class="icon text-danger">
              <i class="fab fa-usps"></i>
            </div> -->
            <div style="min-height: 11rem;">
              <img class="img-fluid"
                src="https://image.freepik.com/free-vector/asset-selection-concept-illustration_114360-4409.jpg">
            </div>
            <h5>Select your package</h5>
            <p class="small">& tell us your preferences</p>
          </div>
        </div>
        <div class="col-md-3">
  
          <div class="card featured-icon-card">
            <!-- <div class="icon text-danger">
              <i class="fab fa-usps"></i>
            </div> -->
            <div style="min-height: 11rem;">
              <img class="img-fluid"
                src="https://image.freepik.com/free-vector/team-leader-teamwork-concept_74855-6671.jpg">
            </div>
            <h5>Our Experts Varifies</h5>
            <p class="small">Your Requests</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card featured-icon-card">
            <div style="min-height: 11rem;">
              <img class="img-fluid"
                src="https://image.freepik.com/free-vector/communication-flat-icon_1262-18771.jpg">
            </div>
            <h5>Get multiple free quotes</h5>
            <p class="small">from verified travel experts</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card featured-icon-card">
            <div style="min-height: 13rem;">
              <img class="img-fluid"
                src="https://image.freepik.com/free-vector/couple-enjoying-holidays-beach_1150-39561.jpg">
            </div>
            <h5>Customize & book</h5>
            <p class="small">a perfect holiday experience</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<br /><br/>
<!--------------------------------- Testimonials --------------------------------------->
<section>
  <app-testimonials></app-testimonials>
</section>
<br/><br/><br/>
<!--------------------------------- packages ----------------------------------------->
<section>
  <div class="container-fluid">
    <h3 class="h4 text-center section-title mb-1" style="color:black">Explore Best Selling Packages</h3>
    <hr />
  </div>
</section>

<section>
  <div class="container-fluid mainpadding mb-2 mt-4">
    <div class="d-flex flex-nowrap groupbtn" (click)="onButtonGroupClick($event)">
      <button class="filbtn btn btn-secondary act">1 to 2 Days</button>
      <button class="filbtn btn btn-secondary">2 to 3 Days</button>
      <button class="filbtn btn btn-secondary">3 to 4 Days</button>
      <button class="filbtn btn btn-secondary">4 to 5 Days</button>
      <button class="filbtn btn btn-secondary">5 to 6 Days</button>
    </div>
    <br />
  </div>

  <xscrolablecard [items]="indiandest" [heading]="'Top International Destinations'"></xscrolablecard>
  <br /><br />
  <xscrolablecard [items]="indiandest" [heading]="'Top Indian Destinations'"></xscrolablecard>
</section>
<br />
<!------------------------- //some jugad ---------------------------->

<section class="hideonsmall">
  <div class="container-fluid mainpadding  py-4">
    <div class="text-center mb-5">
      <h2>Why Western Travellers?</h2>
      <p class="description">Customize & Book</p>
    </div>
    <div class="row">
      <div class="col-md-6 ">
        <div class="text-center mb-4">
          <h3 class="h5 ">Fastest Growing Holiday Marketplace</h3>
          <p class="text-muted pb-0 mb-0 small">Some of the best offers </p>
        </div>

        <div class="row border-right">
          <div class="col-md-4">

            <div class="card featured-icon-card">
              <div>
                <img class="img-fluid"
                  src="https://image.freepik.com/free-vector/road-trip-concept-illustration_114360-5643.jpg ">
              </div>
              <div class="featured-icon-textbox">
                <div>650+</div>
                <div class="small">Verified Places</div>
              </div>
            </div>

          </div>
          <!--End col-md-4-->
          <div class="col-md-4">

            <div class="card featured-icon-card">
              <div>
                <img class="img-fluid"
                  src="https://image.freepik.com/free-vector/personal-memories-concept_23-2148403720.jpg">
              </div>
              <div class="featured-icon-textbox">
                <div>22 Lac+</div>
                <div class="small">Happy Travellers</div>
              </div>
            </div>

          </div>
          <!--End col-md-4-->
          <div class="col-md-4">

            <div class="card featured-icon-card">
              <div>
                <img class="img-fluid"
                  src="https://image.freepik.com/free-vector/flight-booking-concept-illustration_114360-2213.jpg">
              </div>
              <div class="featured-icon-textbox">
                <div>65+</div>
                <div class="small">International Destinations</div>
              </div>
            </div>

          </div>
          <!--End col-md-4-->

        </div>
      </div>

      <div class="col-md-6">
        <div class="text-center mb-4">
          <h3 class="h5 ">Easy, Secure & Reliable</h3>
          <p class="text-muted pb-0 mb-0 small">Some of the best offers </p>
        </div>
        <div class="row">
          <div class="col-md-4">

            <div class="card featured-icon-card signpost">
              <div>
                <img class="img-fluid"
                  src="https://image.freepik.com/free-vector/honesty-abstract-concept-illustration_335657-4480.jpg">
              </div>
              <div class="featured-icon-textbox">
                <div>Stringent</div>
                <div class="small">Quality Control</div>
              </div>
            </div>

          </div>
          <!--End col-md-4-->
          <div class="col-md-4">

            <div class="card featured-icon-card">
              <div>
                <img class="img-fluid"
                  src="https://image.freepik.com/free-vector/flat-customer-support-illustration_23-2148899113.jpg">
              </div>
              <div class="featured-icon-textbox">
                <div>24/7</div>
                <div class="small">Support</div>
              </div>
            </div>

          </div>
          <!--End col-md-4-->
          <div class="col-md-4">

            <div class="card featured-icon-card">
              <div>
                <img class="img-fluid" src="https://image.freepik.com/free-vector/man-working-office_52683-18122.jpg">
              </div>
              <div class="featured-icon-textbox">
                <div>65+</div>
                <div class="small">Inhouse Proffesionals</div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</section>
<hr />
<br />

<!------------------------ image carousel --------------------------->
<section class="border bg-light py-4">
  <div class="container-fluid mainpadding">
    <div class="section-title  h4 text-center mb-2" style="color:black">Travel Western Travelers</div>
    <p class="text-muted pb-0 mb-0 small text-center mb-4">Some of the best offers </p>
    <card-imagecarousel [items]="caroimg"></card-imagecarousel>
  </div>
</section>
<br />
<!------------------------------------------------ filter only sections ------------------------------------------------>
<!-- Best priced packages with budjet -->
<section>
  <div class="container-fluid mainpadding">
    <h2 class="h4 pb-2 text-muted " style="color:black"></h2>
    <div class="page-name mb-3 ml-3">
      <h3 class="h5 ">Budget based packages
      </h3>
      <p class="text-muted pb-0 mb-0 small">Some of the best offers </p>
    </div>
    <div (click)="onButtonGroupClick($event)" class="d-flex flex-nowrap groupbtn pb-3 pl-3">
      <button class="filbtn btn btn-secondary act">10k Below</button>
      <button class="filbtn btn btn-secondary">10k to 20k</button>
      <button class="filbtn btn btn-secondary">20k to 40k</button>
      <button class="filbtn btn btn-secondary">40k to 60k</button>
      <button class="filbtn btn btn-secondary">60k to 80k</button>
      <button class="filbtn btn btn-secondary">80k above</button>
    </div>

    <app-simplecard [items]="datasource" class="mt-0"></app-simplecard>

  </div>
</section>
<br />
<!-- Best priced packages -->
<section>
  <div class="container-fluid mainpadding">
    <h2 class="h4  pb-2" style="color:#000"></h2>
    <div class="page-name mb-3 ml-3">
      <h3 class="h5 ">Best priced packages within your holiday duration
      </h3>
      <p class="text-muted pb-0 mb-0 small">Some of the best offers </p>
    </div>
    <div (click)="onButtonGroupClick($event)" class="d-flex flex-nowrap groupbtn pb-3 pl-3">
      <button class="filbtn btn btn-secondary act">1 to 2 Days</button>
      <button class="filbtn btn btn-secondary">2 to 3 Days</button>
      <button class="filbtn btn btn-secondary">3 to 4 Days</button>
      <button class="filbtn btn btn-secondary">4 to 5 Days</button>
      <button class="filbtn btn btn-secondary">5 to 6 Days</button>
    </div>

    <app-simplecard [items]="datasource" class="mt-0"></app-simplecard>

  </div>
</section>
<br />
<!-- best seasanal package -->
<section>
  <div class="container-fluid mainpadding">
    <div class="page-name mb-3 ml-3">
      <h3 class="h5 ">Best Priced seasanal Travel
      </h3>
      <p class="text-muted pb-0 mb-0 small">Some of the best offers </p>
    </div>
    <div class="d-flex flex-nowrap groupbtn pb-3 pl-3" (click)="onButtonGroupClick($event)">
      <button class="monthbtn btn btn-secondary act" (click)="MonthfilterSelection('Jan')">Jan</button>
      <button class="monthbtn btn btn-secondary" (click)="MonthfilterSelection('Feb')"> Feb</button>
      <button class="monthbtn btn btn-secondary" (click)="MonthfilterSelection('Mar')"> Mar</button>
      <button class="monthbtn btn btn-secondary" (click)="MonthfilterSelection('Apr')"> Apr</button>
      <button class="monthbtn btn btn-secondary" (click)="MonthfilterSelection('May')"> May</button>
      <button class="monthbtn btn btn-secondary" (click)="MonthfilterSelection('Jun')"> Jun</button>
      <button class="monthbtn btn btn-secondary" (click)="MonthfilterSelection('Jul')"> Jul</button>
      <button class="monthbtn btn btn-secondary" (click)="MonthfilterSelection('Aug')"> Aug</button>
      <button class="monthbtn btn btn-secondary" (click)="MonthfilterSelection('Sep')"> Sep</button>
      <button class="monthbtn btn btn-secondary" (click)="MonthfilterSelection('Oct')"> Oct</button>
      <button class="monthbtn btn btn-secondary" (click)="MonthfilterSelection('Nov')"> Nov</button>
      <button class="monthbtn btn btn-secondary" (click)="MonthfilterSelection('Dec')"> Dec</button>
    </div>

    <app-simplecard [items]="datasource" class="mt-0"></app-simplecard>

  </div>
</section>
<br /><br />
<!---------------------------------- theme based  ------------------------------------->
<section class="pb-4">

  <div class="container-fluid mainpadding">
    <div class="page-name mb-3 ml-3">
      <h3 class="h5 ">Browse Packages Through Themes
      </h3>
      <p class="text-muted pb-0 mb-0 small">Some of the best offers </p>
    </div>
    
    <div class="grpicon blk">

      <div class="mr-2 text-center" *ngFor="let child of holidaytheme">
        <a href="#">
          <div class="card  card-inverse icard">
            <div class="card-block">
              <img [src]="child.icon" alt="..." class="icardimage" />
            </div>
          </div>
          <p class="ml-2 ">{{child.name}}</p>
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="container ">
    <h2 class="h2  mb-5" style="color:black">Browse packages through holiday THEMES</h2>
    <card-captioncarousel [items]="carocaption"></card-captioncarousel>
  </div> -->
</section>
<br /><br />
<!---------------------------------- our Service --------------------------------------->
<div class="section bg-light py-4">
  <div class="container">
    <div class="title-area">
      <h2>Our Services</h2>
      <div class="separator separator-danger">✻</div>
      <p class="description">We promise you a new look and more importantly, a new attitude. We build that by getting to
        know you, your needs and creating the best looking clothes.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="info-icon">
          <div class="icon text-danger">
            <i class="fas fa-universal-access"></i>
          </div>
          <h3>Service</h3>
          <p class="description">We make our design perfect for you. Our adjustment turn our clothes into your clothes.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-icon">
          <div class="icon text-danger">
            <i class="fas fa-user-shield"></i>
          </div>
          <h3>Safty</h3>
          <p class="description">We create a persona regarding the multiple wardrobe accessories that we provide..</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-icon">
          <div class="icon text-danger">
            <i class="fas fa-poll"></i>
          </div>
          <h3>Trust</h3>
          <p class="description">We like to present the world with our work, so we make sure we spread the word
            regarding our clothes.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--------------------------------- news Subscribe ------------------------------------->
<section class="border">
  <div class="container-fluid mainpadding">
    <div class="card py-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 ">

          </div>
          <div class="col-md-4">

            <h2 class="h2">
              <span class="headingone">Stay up</span> to Date
            </h2>
            <p class="text-muted">Subscribe now and receive the latest travel news.</p>

          </div>
          <div class="col-md-6">
            <form [formGroup]="EmailSubscribe" (ngSubmit)="EmailSubscribeFun()" class="form-inline">
              <div class="row mt-2">
                <div class="col-md-4">
                  <input type="text" class="form-control m-1" placeholder="Your Name">
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control m-1" placeholder="Your Email">
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-danger float-right m-1">SUBSCRIBE</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br/>
<!-------------------------------- booking preference --------------------------------->
<section >
  <div class="container-fluid mainpadding">
    <div class="text-center mb-3">
      <h2>Expertised Solution</h2>
      <p class="description">Customize & Book</p>
    </div>
    <app-customprferencecard></app-customprferencecard>
  </div>
  
</section>
<br/><br/>
<!------------------------------------------------ footer ------------------------------------------------>
<section class="footers bg-light py-4">
  <div class="container pt-3 ">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
        <div class="footers-logo">
          <img src="/assets/skins/western_travellers_1.png" width="150px" alt="">
        </div>
        <div class="footers-info mt-3">
          <p>Cras sociis natoque penatibus et magnis Lorem Ipsum tells about the compmany right now the best.</p>
        </div>
        <div class="social-icons">
          <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
          <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
          <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
          <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
        <h5>Essentials </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">Search</a></li>
          <li><a href="contact.html">Sell your Car</a></li>
          <li><a href="about.html">Advertise with us</a></li>
          <li><a href="about.html">Dealers Portal</a></li>
          <li><a href="about.html">Post Requirements</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
        <h5>Information </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">Register Now</a></li>
          <li><a href="contact.html">Advice</a></li>
          <li><a href="about.html">Videos</a></li>
          <li><a href="about.html">Blog</a></li>
          <li><a href="about.html">Services</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
        <h5>Explore </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">News</a></li>
          <li><a href="contact.html">Sitemap</a></li>
          <li><a href="about.html">Testimonials</a></li>
          <li><a href="about.html">Feedbacks</a></li>
          <li><a href="about.html">User Agreement</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
        <h5>Company </h5>
        <ul class="list-unstyled">
          <li><a href="maintenance.html">Career</a></li>
          <li><a href="about.html">For Parters</a></li>
          <li><a href="about.html">Terms</a></li>
          <li><a href="about.html">Policy</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>
<section class="disclaimer bg-light border">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 py-2">
        <small>
          Disclaimer: Element Limited is only an intermediary offering its platform to facilitate the transactions
          between Seller and Customer/Buyer/User and is not and cannot be a party to or control in any manner any
          transactions .
        </small>
      </div>
    </div>
  </div>
</section>
<section class="copyright border">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12 pt-3">
        <p class="text-muted">© 2021 Western Travelers.</p>
      </div>
    </div>
  </div>
</section>
</div>