<topbar-dir></topbar-dir>
<br />
<div class="container-fluid mainpadding">
    <div class="card card-white grid-margin">
        <h5 class="card-header">{{id}}n Destinations with Offers</h5>
        <div class="card-body">
            <div class="row mb-0">
                <div class="col-lg-3 col-md-6">
                    <small>Destination</small>
                    <p class="font-weight-bold">{{id}}</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <small>Starting on </small>
                    <p class="font-weight-bold">Any</p>
                </div>
                <div class="col-lg-3 col-md-6">

                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="/Cruises" class="float-right btn btn-outline-danger btn-sm ">
                        MODIFY SEARCH
                    </a>
                </div>

            </div>
            <hr />
        </div>

    </div>
    <div class="row">

        <div class="col-lg-3 pr-0 ">
            <div >
                <div class="card card-white grid-margin">
                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Duration ( in Days )</h6>
                        </a> </header>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="mb-2">
                                <div class="form-check form-check-inline mr-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">1 to 3</label>
                                </div>
                                <div class="form-check form-check-inline ">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">4 to 6</label>
                                </div>
                            </div>

                            <div class="mb-2">
                                <div class="form-check form-check-inline mr-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">7 to 9</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">10 to 12</label>
                                </div>
                            </div>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">10 to 12</label>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card card-white grid-margin">
                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="true">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Budget/Person(in Rs)</h6>
                        </a> </header>
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Less Than 10,000
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    10,000 - 20,000
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    20,000 - 40,000
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    40,000 - 60,000
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    60,000 - 80,000
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Above 80,000
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-white grid-margin">
                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="true">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Activities </h6>
                        </a> </header>
                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                        data-parent="#accordion">
                        <div class="card-body">
                            <div class="form-check ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Adventure
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Nature
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Hill Station
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Religious
                                </label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Water Activities
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion1" class="sticky-top">
                    <div class="card card-white grid-margin">
                        <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Inclusions </h6>
                            </a> </header>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion1">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Sightseeing
                                    </label>
                                </div>

                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Breakfast
                                    </label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Meals
                                    </label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Airport Pickup-Drop
                                    </label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Private Cab
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card card-white grid-margin">
                        <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="true">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Categories </h6>
                            </a> </header>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                            data-parent="#accordion1">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                        checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Checked checkbox
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-white grid-margin">
                        <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="true">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Categories </h6>
                            </a> </header>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                            data-parent="#accordion1">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Checked checkbox
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 p-0 ">
            <div class="container-fluid mb-3">
                <div class="card card-white mb-2 grid-margin m-0 ">
                    <div class="row">
                        <div class="col-md-2 py-2">
                            <span class="ml-2">SORT BY:</span>
                        </div>
                        <div class="col-md-3 py-2">
                            <span>DEPARTURE DATE</span>
                        </div>
                        <div class="col-md-3 py-2">
                            <span>CRUISE LENGTH</span>
                        </div>
                        <div class="col-md-2 py-2">
                            <span>CRUISELINE</span>
                        </div>
                        <div class="col-md-2 py-2">
                            <span>PRICE</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="d-flex flex-column  mb-3 container-fluid">
                <div class="card card-white grid-margin"
                    *ngFor="let items of info | paginate: { itemsPerPage: 5, currentPage: p }">
                    <div class="card-header">
                        <h5 class="h6">
                            {{items.Name}}
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4  col-md-12">
                                <div class="imgbox">
                                    <img src="https://cdn.pixabay.com/photo/2016/10/18/08/13/travel-1749508__340.jpg"
                                        class="img-fluid w-100 img-responsive" alt="...">
                                </div>
                            </div>
                            <div class="col-lg-8  col-md-12">
                                <p class="text-muted mt-1"><i class="fas fa-clock"></i>&nbsp;&nbsp;{{items.Duration}} </p>

                                <div>

                                    <div class="row mt-2">
                                        <div class="col-md-8">
                                            <span class="text-muted ">
                                                <p><i class="fas fa-ship"></i>&nbsp;MSC Cruises / Splendida</p>
                                            </span>
                                            <span class="text-muted ">
                                                <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Barcelona➝Barcelona
                                                </p>
                                            </span>
                                            <span class="text-muted ">
                                                <p><i class="fas fa-anchor"></i>&nbsp;&nbsp;Barcelona|At
                                                    Sea|Casablanca|At Sea|Santa Cruz De Tenerife|Funchal|At
                                                    Sea|Malaga|At Sea|Civitavecchia|Genoa|Barcelona</p>
                                            </span>
                                        </div>

                                        <div class="col-md-4">
                                            <small class="float-right">Starting Price</small><br />
                                            <h4 class="text-dark float-right h4">INR 112,350</h4>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <table class="table table-sm">
                            <thead class="bg-light">
                              <tr>
                                <th scope="col">DATE</th>
                                <th scope="col">INSIDE</th>
                                <th scope="col">OCEANVIEW</th>
                                <th scope="col">BALCONY</th>
                                <th scope="col">SUITE</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">05-10-2021</th>
                                <td>₹ 112,350 </td>
                                <td>₹ 145,350 </td>
                                <td>₹ 191,850 </td>
                                <td>₹ 0  </td>
                              </tr>
                              
                            </tbody>
                          </table>
                        <hr />
                        <div class="row mt-0">
                            <div class="col-9">
                                <button type="button" class="btn btn-success btn-sm mr-2">WhatsApp</button>
                                <button type="button" class="btn btn-outline-danger btn-sm  ">Send Qoutes</button>
                            </div>
                            <div class="col-3">
                                <a href="/Cruises/Cruisedetails/meditarian" class="btn btn-danger text-white btn-sm float-right">Book Now</a>
                            </div>

                        </div>
                    </div>
                </div>
                <br />
                <pagination-controls data-pagination class="pagination" (pageChange)="p = $event">
                </pagination-controls>
            </div>
        </div>

    </div>
</div>