<div class="container-fluid mt-3">
    <!-- <div class="row ">
        <div class="col-12 columnleft columnright">
            <div class="card card-white grid-margin ">
                <div class="row">
                    <div class="col-7">
                        
                    </div>
                    <div class="col-5">

                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">

        <div class="col-lg-8 columnleft">
            <div class="card card-white grid-margin">
                <h5 class="card-header">Maldives Gateway with Thulhagiri Island Resort<span class="float-right h6">4
                        Nights / 5 Days
                    </span></h5>
                <div class="card-body">
                    <div class="row mb-0">
                        <div class="col-lg-3 col-md-6">
                            <small>From City</small>
                            <p class="font-weight-bold">Kerala</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <small>Tour Date</small>
                            <p class="font-weight-bold">30 Mar’21 Tuesday</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <small>Rooms & Guests</small>
                            <p class="font-weight-bold">2 Adults</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <small>Price Category</small>
                            <p class="font-weight-bold">Deluxe</p>
                        </div>
                    </div>
                   
                </div>

            </div>
            <div id="carouselExampleIndicators" class="carousel slide card card-caro " data-ride="carousel">
                <div class="card-body">
                    <h5 class="h5">Scenic Kerala Holiday Package</h5>
                    <small class="text-warning">8 days 9 nights<span class="text-muted"> | Custumisable</span></small>
                    <span class="badge badge-info ml-5">
                        <small>33% Off</small>
                    </span>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100"
                            src="https://cdn.pixabay.com/photo/2016/03/04/19/36/beach-1236581__340.jpg"
                            alt="First slide">
                        <div class="carousel-caption d-none d-md-block">

                            <p>dfghjkl</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100"
                            src="https://cdn.pixabay.com/photo/2020/12/13/16/21/stork-5828727__340.jpg"
                            alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">

                            <p>dhddhdh</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100"
                            src="https://cdn.pixabay.com/photo/2018/07/14/15/27/cafe-3537801__340.jpg"
                            alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">

                            <p>dhddhdh</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev con" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next con" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="card card-white my-3">
                <div id="module" class="container">
                    <h5 class="h4 font-weight-bold">Overview</h5>
                    <p class="collapse" id="collapseExample" aria-expanded="false">
                        Bacon ipsum dolor amet doner picanha tri-tip biltong leberkas salami meatball tongue filet
                        mignon landjaeger tail. Kielbasa salami tenderloin picanha spare ribs, beef ribs strip steak
                        jerky cow. Pork chop chicken ham hock beef ribs turkey jerky. Shoulder
                        beef capicola doner, tongue tail sausage short <b>ribs andouille</b>. Rump frankfurter
                        landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball
                        tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle.
                        Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.
                        landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball
                        tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle.
                        Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.
                    </p>
                    <a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample"></a>
                </div>
            </div>
            <!-- timeline -->
            <div>
                <div class="row">
                    <div class="col-xs-12 ">
                        <nav class="container ">
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                    href="#nav-OVERVIEW" role="tab" aria-controls="nav-home"
                                    aria-selected="true">OVERVIEW</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                    href="#nav-ITINERARY" role="tab" aria-controls="nav-profile"
                                    aria-selected="false">ITINERARY</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                    href="#nav-ACCOMODATION" role="tab" aria-controls="nav-contact"
                                    aria-selected="false">ACCOMODATION</a>
                                <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-INCLUSION"
                                    role="tab" aria-controls="nav-about" aria-selected="false">INCLUSION & EXCLUSION</a>
                                <a class="nav-item nav-link" id="nav-TC-tab" data-toggle="tab"
                                    href="#nav-TermsAndCondition" role="tab" aria-controls="nav-about"
                                    aria-selected="false">Terms and Conditions</a>
                            </div>
                        </nav>
                        <div class="tab-content py-2 px-3 " id="nav-tabContent">
                            <!-- Overview -->
                            <div class="tab-pane fade show active" id="nav-OVERVIEW" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="card card-white grid-margin">
                                    <div class="card-body">
                                        <table class="table borderless">
                                            <thead class="brdrtp">
                                                <tr>
                                                    <th scope="col">Days</th>
                                                    <th scope="col"></th>
                                                    <th scope="col">Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let child of DayOverview">
                                                    <th colspan="2" scope="row">DAY-{{child.Day}}</th>
                                                    <td>
                                                        <h5 class="h6">{{child.Header}}</h5><small>
                                                            {{child.Description}}
                                                        </small>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>


                            </div>
                            <!-- ITINERARY -->
                            <div class="tab-pane fade" id="nav-ITINERARY" role="tabpanel"
                                aria-labelledby="nav-profile-tab">
                                <div class="card card-white grid-margin" *ngFor="let child of itirnary">
                                    <div class="card-body">
                                        <h5 class="h5 ">Day {{child.Day}} | <span
                                                class="text-muted">{{child.place}}</span></h5>
                                        <div class="mt-1 p-3 row ">
                                            <span class="border px-2 py-1 mr-2 mt-2 rounded-sm"
                                                *ngFor="let i of child.Categaries">{{i}}</span>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-12 ">
                                                <ul class="text-muted  pl-0 list-group list-group-horizontal"
                                                    style="list-style: none;">
                                                    <li *ngIf="child.ishotel" class="text-center ml-1">
                                                        <i class="fas fa-hotel"><br><small>Hotel</small></i>
                                                    </li>
                                                    <li *ngIf="child.isFlight" class="text-center ml-3">
                                                        <i class="fas fa-plane"><br><small>Flights</small></i>
                                                    </li>
                                                    <li *ngIf="child.isMeal" class="text-center ml-3">
                                                        <i class="fas fa-hamburger"><br><small>Meal</small></i>
                                                    </li>
                                                    <li *ngIf="child.isCab" class="text-center ml-3 mr-2">
                                                        <i class="fas fa-taxi"><br><small>Cab</small></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row mt-1 mb-3">
                                            <div *ngIf="child.img1" class="col-md-4 col-xs-6 mt-3"><img
                                                    [src]="child.img1" alt="..." class="img-fluid rounded"></div>
                                            <div *ngIf="child.img2" class="col-md-4 col-xs-6 mt-3"><img
                                                    [src]="child.img2" alt="..." class="img-fluid rounded"></div>
                                        </div>
                                        <p class="">{{child.discription}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-ACCOMODATION" role="tabpanel"
                                aria-labelledby="nav-contact-tab">
                                <div class="card card-white grid-margin" *ngFor="let child of itirnary">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-5 col-xs-12">
                                                <img [src]="child.Hotelimage" alt="..." class="img-fluid rounded">
                                            </div>
                                            <div class="col-lg-7 col-xs-12">
                                                <h5>Day :{{child.Day}}</h5>
                                                <h5 class="h5">{{child.hotel}}</h5>
                                                <div class="pt-2">
                                                    <span class="fa fa-star " *ngFor="let k of  [].constructor(child.Hotelrating)"></span>
                                                    
                                                </div>
                                                <div class="mt-2 p-2 row ">
                                                    <span class="border px-2 py-1 mr-2 mt-2 rounded-sm"
                                                        *ngFor="let i of child.Hotelcategary">{{i}}</span>
                                                </div>

                                                
                                            </div>
                                        </div>
                                        <p class="pt-3">{{child.HotelDisc}}</p>

                                    </div>
                                </div>
                            </div>

                            <!-- inclusions and Exclusions -->
                            <div class="tab-pane fade" id="nav-INCLUSION" role="tabpanel"
                                aria-labelledby="nav-about-tab">
                                <!-- inclusions -->
                                <div class="card card-white grid-margin">
                                    <div class="card-body">
                                        <h5>Inclusions</h5>
                                        <ul>
                                            <li><span></span>4 nights stay on Twin/Tripple Sharing</li>
                                            <li><span></span>Welcome drink on arrival</li>
                                            <li><span></span>Meals in Full Board</li>
                                            <li><span></span>Return Speedboat transfers</li>
                                            <li><span></span>GST</li>
                                        </ul>

                                        <ul>
                                            <li><span></span><strong>Honeymoon Freebies:</strong></li>
                                            <li><span></span>Beach Dinner (subject to weather condition)</li>
                                            <li><span></span>Honeymoon Cocktail</li>
                                            <li><span></span>Bed decoration</li>
                                        </ul>
                                    </div>

                                </div>
                                <!-- inclusions -->
                                <!-- Exclusions -->
                                <div class="card card-white grid-margin">
                                    <div class="card-body">
                                        <h5>Exclusions</h5>
                                        <ul>
                                            <li><span></span>Airfare</li>
                                            <li><span></span>Visa charges</li>
                                            <li><span></span>Anything not specified under inclusions</li>
                                            <li><span></span>Expense of personal nature such telephone calls, laundry
                                                etc</li>
                                            <li><span></span>Christmas Eve &amp; New Year Supplement Charges Extra</li>
                                            <li><span></span>Surcharge during peak period &amp; black-out dates</li>
                                            <li><span></span>All Rooms &amp; Offers are subject to availalbity at time
                                                of confirmation &amp; at discretion of the Hotel / Resort</li>
                                            <li><span></span>TCS @ 5 % extra to be paid on Final Invoice Amount</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Exclusions -->
                                <!-- cancellation policy -->
                                <div class="card card-white grid-margin">
                                    <div class="card-body">
                                        <h2 class="h5">Cancellation Policy</h2>

                                        <table class="table table-bordered">

                                            <tbody>
                                                <tr class="bg-row">
                                                    <th colspan="1">Cancellation Policy (Per Person)</th>
                                                    <th class="no-border"></th>
                                                </tr>
                                                <tr>
                                                    <td>Days before departure:</td>
                                                    <td>Cancellation Charge:</td>
                                                </tr>
                                                <tr>
                                                    <td>10 days</td>
                                                    <td>100%</td>
                                                </tr>
                                                <tr>
                                                    <td>10 to 15 days</td>
                                                    <td>75% + Non Refundable Component</td>
                                                </tr>
                                                <tr>
                                                    <td>15 to 30 days</td>
                                                    <td>30% + Non Refundable Component</td>
                                                </tr>
                                                <tr>
                                                    <td>Hotel / Air </td>
                                                    <td>100% in case of non-refundable ticket / Hotel Room </td>
                                                </tr>
                                                <tr>
                                                    <td>Cruise / Visa </td>
                                                    <td>On Actuals</td>
                                                </tr>
                                            </tbody>
                                        </table>


                                        <h2 class="h5">Payment Policy</h2>


                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th class="center">Payment Policy</th>
                                                    <th class="center">Online Advance as per Website</th>
                                                </tr>
                                                <tr>
                                                    <td>Within 45 to 30 days prior to the departure of the tour</td>
                                                    <td> 75% of total tour cost or Non Refundable component
                                                        whichever is higher</td>
                                                </tr>
                                                <tr>
                                                    <td>Within 30 days prior to the departure of the tour</td>
                                                    <td>100% of total tour cost</td>
                                                </tr>
                                            </tbody>
                                        </table>


                                        <ul>
                                            <li><span></span>
                                                <p>All Prices are in Indian Rupees and subject to change without prior
                                                    notice.</p>
                                            </li>
                                            <li><span></span>
                                                <p>In case FIT flight inclusive package, full amount of flight will be
                                                    payable at the time of booking.</p>
                                            </li>
                                            <li><span></span>
                                                <p>**For Air tickets being issued / blocked on time limit: Full INR
                                                    component to be collected before issuance,else price will be subject
                                                    to change.</p>
                                            </li>
                                            <li><span></span>
                                                <p>Tour prices are valid for Indian Nationals &amp; Foreigners holding
                                                    Indian Resident Permit.</p>
                                            </li>
                                            <li><span></span>
                                                <p>Booking confirmations are subject to availability.</p>
                                            </li>
                                            <li><span></span>
                                                <p>All Hotels Rooms are subject to availability</p>
                                            </li>
                                            <li><span></span>
                                                <p>We are not holding any reservations of air seats, hotel rooms,
                                                    conference rooms etc. Final availability status will only be known
                                                    when we request for bookings.</p>
                                            </li>
                                            <li><span></span>
                                                <p>Holiday Surcharge will be additional if applicable</p>
                                            </li>
                                            <li><span></span>
                                                <p>Any overstay expenses due to delay or change or cancellation in
                                                    flight will be on the guests own &amp; Akbar Holidays will not be
                                                    held liable for such expenses however we will provide best possible
                                                    assistance.</p>
                                            </li>
                                            <li><span></span>
                                                <p>Price on website //quoted are subject to availability at time of
                                                    confirmation, we are currently not holding any blocking against the
                                                    sent quotation.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="nav-TermsAndCondition" role="tabpanel"
                                aria-labelledby="nav-contact-tab">
                                <!-- term and condition -->
                                <div class="card card-white grid-margin">
                                    <div class="card-body">
                                        <h2 class="h5">Terms &amp; Conditions</h2>
                                        <ul>
                                            <li><span></span>
                                                <p>All Prices are in Indian Rupees and subject to change without prior
                                                    notice.</p>
                                            </li>
                                            <li><span></span>
                                                <p>Price quoted are subject to availablity at time of confirmation, we
                                                    are currently not holding any blocking against the sent quotation.
                                                </p>
                                            </li>
                                            <li><span></span>
                                                <p>Tour prices are valid for Indian Nationals &amp; Foreigners holding
                                                    Indian Resident Permit.</p>
                                            </li>
                                            <li><span></span>
                                                <p>Booking confirmations are subject to availability.</p>
                                            </li>
                                            <li><span></span>
                                                <p>All Hotels Rooms are subject to availability</p>
                                            </li>
                                            <li><span></span>
                                                <p>We are not holding any reservations of air seats, hotel rooms,
                                                    conference rooms etc. Final availability status will only be known
                                                    when we request for bookings.</p>
                                            </li>
                                            <li><span></span>
                                                <p>Holiday Surcharge will be additional if applicable</p>
                                            </li>
                                            <li><span></span>
                                                <p>Any overstay expenses due to delay or change or cancellation in
                                                    flight will be on the guests own &amp; Akbar Holidays will not be
                                                    held liable for such expenses however we will provide best possible
                                                    assistance.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 columnright">
            <div class="card card-white grid-margin">
                <div class="card-body ">
                    <h5 class="h5">{{items.Name}}</h5>
                    <small class="text-primary">{{items.Duration}} <span class="text-muted">|
                            Custumisable</span></small>
                    <div class="row mt-3">
                        <div class="col-12 ">
                            <ul class="text-muted  pl-0 list-group list-group-horizontal" style="list-style: none;">
                                <li *ngIf="items.ishotel" class="text-center ml-1">
                                    <i class="fas fa-hotel"><br><small>Hotel</small></i>
                                </li>
                                <li *ngIf="items.isFlight" class="text-center ml-3">
                                    <i class="fas fa-plane"><br><small>Flights</small></i>
                                </li>
                                <li *ngIf="items.isMeal" class="text-center ml-3">
                                    <i class="fas fa-hamburger"><br><small>Meal</small></i>
                                </li>
                                <li *ngIf="items.isCab" class="text-center ml-3 mr-2">
                                    <i class="fas fa-taxi"><br><small>Cab</small></i>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="row mt-3 ">


                        <div class="col-sm-12 pl-0">
                            <ul class="text-muted  list-group list-group-horizontal" style="list-style: none;">
                                <li *ngIf="items.isTwostarHotel" class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="option1"
                                        (click)="model.option = '2';pricebasedonhotel()"
                                        [checked]="model.option == '2'">
                                    <label class="form-check-label">
                                        <small> 2 Star</small>
                                    </label>
                                </li>

                                <li *ngIf="items.isThreestarHotel" class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="option1"
                                        (click)="model.option = '3';pricebasedonhotel()"
                                        [checked]="model.option == '3'">
                                    <label class="form-check-label">
                                        <small> 3 Star</small>
                                    </label>
                                </li>
                                <li *ngIf="items.isFourstarHotel" class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="option1"
                                        (click)="model.option = '4';pricebasedonhotel()"
                                        [checked]="model.option == '4'">
                                    <label class="form-check-label">
                                        <small> 4 Star</small>
                                    </label>
                                </li>
                                <li *ngIf="items.isFivestarHotel" class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="option1"
                                        (click)="model.option = '5';pricebasedonhotel()"
                                        [checked]="model.option == '5'">
                                    <label class="form-check-label">
                                        <small> 5 Star</small>
                                    </label>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="mt-2 p-2 row ">
                        <span class="border px-2 py-1 mr-2 mt-2 rounded-sm"
                            *ngFor="let i of items.categary">{{i}}</span>
                    </div>

                    <hr />
                    <div class="row mt-0">
                        <div class="col-12">
                            <div class="font-weight-bold  mt-2 mb-0"><span class="h4 text-success">{{items.rates[ji] |
                                    currency}}</span><span><del class="h6 ml-4 text-muted">{{items.strikedrates[ji] |
                                        currency}}</del></span></div>
                        </div>


                    </div>
                    <a href="Destination/Checkout" class="btn btn-primary btn-block mt-4 text-center">
                        BOOK Now
                    </a>
                    <a class="btn btn-outline-danger  btn-block mt-4 text-center ">
                       Customise Package
                    </a>

                </div>
            </div>

            <div class="card card-white grid-margin">

                <div class="input-group card-body">
                    <h6 class="mb-3">Apply Promocode:</h6>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter Promo Code">
                        <div class="input-group-append">
                            <span class="input-group-text text-danger">Apply</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-white grid-margin">

                <div class="list-group-flush">
                    <div class="list-group-item">
                        <a class="mb-0"><i class="fab fa-instagram fa-2x mr-4 blue p-2 white-text rounded "
                                aria-hidden="true"></i>WWW.Instgram.com</a>
                    </div>
                    <div class="list-group-item">
                        <a class="mb-0"> <i class="fas fa-phone fa-4x mr-4  red p-2 white-text rounded"
                                aria-hidden="true"></i>53545464</a>
                    </div>
                    <div class="list-group-item">
                        <a class="mb-0"><i class="fab fa-whatsapp fa-2x mr-4  purple p-2 white-text rounded"
                                aria-hidden="true"></i>Whats app</a>
                    </div>
                </div>


            </div>

        </div>
    </div>
   
    <xscrolablecard [items]="indiandest" [heading]="'Top International Destinations'"></xscrolablecard>
   

</div>