<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-8 columnleft">
            <div class="card card-white grid-margin">
                <h5 class="card-header">Maldives Gateway with Thulhagiri Island Resort<span class="float-right h6">4
                        Nights / 5 Days
                    </span></h5>
                <div class="card-body">
                    <div class="row mb-0">
                        <div class="col-lg-3 col-md-6">
                            <small>From City</small>
                            <p class="font-weight-bold">Kerala</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <small>Tour Date</small>
                            <p class="font-weight-bold">30 Mar’21 Tuesday</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <small>Rooms & Guests</small>
                            <p class="font-weight-bold">2 Adults</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <small>Price Category</small>
                            <p class="font-weight-bold">Deluxe</p>
                        </div>
                    </div>
                    <hr class="" />
                    <a class="float-right p-0 text-success">REVIEW YOUR ITINERARY</a>
                </div>

            </div>

            <div class="card card-white grid-margin">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7" >
                            <span class="h5">Traveller Details:</span><span><i
                                    class="fas fa-user-circle ml-5"></i>&nbsp;&nbsp;Chandan A</span>
                        </div>
                        <div class="col-5" >
                            <span class="float-right"><i class="fas fa-phone-square"></i>&nbsp;&nbsp;9483107014</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 columnright">
            <div class="page-name">
                <h3 class="h5">Review Your Booking </h3>
            </div>
            <div class="card card-white grid-margin">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="h6">Package Cost</h6>
                        </div>
                        <div class="col-6 ">
                            <span class="float-right">₹ 116,900</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <h6 class="h6">Discount </h6>
                        </div>
                        <div class="col-6 ">
                            <span class="float-right">₹ 2,960</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <h6 class="h6">Package Cost After Discount</h6>
                        </div>
                        <div class="col-6 ">
                            <span class="float-right">₹ 113,900</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <h6 class="h6">GST (5 %)</h6>
                        </div>
                        <div class="col-6 ">
                            <span class="float-right">₹ 5845</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <h6 class="h6 font-weight-bold">Total Amount: </h6>
                        </div>
                        <div class="col-6 ">
                            <span class="float-right">₹ 122,745 </span>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <h6 class="h6 font-weight-bold">Grand Total: </h6>
                        </div>
                        <div class="col-6 ">
                            <span class="float-right">₹ 122,745 </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>