<div id="accordion">
    <div class="card card-white grid-margin">
        <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Duration ( in Days )</h6>
            </a> </header>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="mb-2">
                    <div class="form-check form-check-inline mr-5">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">1 to 3</label>
                    </div>
                    <div class="form-check form-check-inline ">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">4 to 6</label>
                    </div>
                </div>

                <div class="mb-2">
                    <div class="form-check form-check-inline mr-5">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">7 to 9</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">10 to 12</label>
                    </div>
                </div>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">10 to 12</label>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="card card-white grid-margin">
        <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Budget/Person(in Rs)</h6>
            </a> </header>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Less Than 10,000
                    </label>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        10,000 - 20,000
                    </label>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        20,000 - 40,000
                    </label>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        40,000 - 60,000
                    </label>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        60,000 - 80,000
                    </label>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Above 80,000
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-white grid-margin">
        <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="true">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Activities </h6>
            </a> </header>
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Adventure
                    </label>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Nature
                    </label>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Hill Station
                    </label>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Religious
                    </label>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Water Activities
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div id="accordion1" class="sticky-top">
        <div class="card card-white grid-margin">
            <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Inclusions </h6>
                </a> </header>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Sightseeing
                        </label>
                    </div>

                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Breakfast
                        </label>
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Meals
                        </label>
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Airport Pickup-Drop
                        </label>
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Private Cab
                        </label>
                    </div>

                </div>
            </div>
        </div>
        <div class="card card-white grid-margin">
            <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories </h6>
                </a> </header>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion1">
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-white grid-margin">
            <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="true">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories </h6>
                </a> </header>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion1">
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                </div>
            </div>
        </div>