
body {
  margin: 0;
  font-size: 1rem;
  height: fit-content;
  // background: rgb(248, 245, 245);
  background:#fff;
 scroll-behavior: smooth;
 overflow-x: hidden;
}
a, abbr, address, article, aside, audio, b, blockquote, body, button, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, select, small, span, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}
:root {
  $primary: #166e91;
}

html { display: block; -webkit-locale: "en";-webkit-text-size-adjust: none;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::selection {
  background: #d32f2f;
  color: #fff;
}
.absolute-center, .absolute-center-img, .btn-icon-box span.btn-icon-span svg, .input-icon-right svg, .input-icon svg, svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  background: hsla(0,0%,69.8%,.8);
  border-radius: 0;
}
::-webkit-scrollbar-track {
  border-radius: 0;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
