
<topbar-dir></topbar-dir>
<div >
    <app-subnavbar class="hideonsmall"></app-subnavbar>
</div>
<div class="topimagebox ">
    <img class="topimg" src="https://cdn.pixabay.com/photo/2015/03/22/23/07/bora-bora-685303_1280.jpg">
</div>
<h3 class="text-center h3 m-3 text-muted ">Theme Based Places in & outside India</h3>
<hr/>
<div class="outer">
    <!-- info -->
    <div class="page-name">
        <h3 class="h5 ">Explore destinations by theme
        </h3>
        <p class="text-muted pb-0 mb-0">Some of the best offers </p>
    </div>
    <app-themeshowcard [items]="themelinks"></app-themeshowcard>
    

    <br/>
<covidsafety></covidsafety>

</div>
<div class="placeouter">
    <div class="outer">
        <div class="page-name ">
            <h3 class="h5 ">Family destinations by theme
            </h3>
            <p class="text-muted pb-0 mb-0">Some of the best offers </p>
        </div>
    </div>

    <xscrolablecard [items]="indiandest" [heading]="'Family destinations'"></xscrolablecard>
</div>
<div class="placeouter">
    <div class="outer">
        <div class="page-name ">
            <h3 class="h5 ">HoneyMoon destinations
            </h3>
            <p class="text-muted pb-0 mb-0">Some of the best offers </p>
        </div>
    </div>

    <xscrolablecard [items]="indiandest" [heading]="'HoneyMoon destinations'"></xscrolablecard>
</div>
<div class="placeouter">
    <div class="outer">
        <div class="page-name ">
            <h3 class="h5 ">Adventures destinations
            </h3>
            <p class="text-muted pb-0 mb-0">Some of the best offers </p>
        </div>
    </div>

    <xscrolablecard [items]="indiandest" [heading]="'Adventures destinations'"></xscrolablecard>
</div>
<div class="placeouter">
    <div class="outer">
        <div class="page-name ">
            <h3 class="h5 ">WildLife destinations
            </h3>
            <p class="text-muted pb-0 mb-0">Some of the best offers </p>
        </div>
    </div>

    <xscrolablecard [items]="indiandest" [heading]=""></xscrolablecard>
</div>
<div class="placeouter">
    <div class="outer">
        <div class="page-name ">
            <h3 class="h5 ">Water Activities destinations
            </h3>
            <p class="text-muted pb-0 mb-0">Some of the best offers </p>
        </div>
    </div>

    <xscrolablecard [items]="indiandest" [heading]="'Water destinations'"></xscrolablecard>
</div>
<div class="placeouter">
    <div class="outer">
        <div class="page-name ">
            <h3 class="h5 ">Religious destinations
            </h3>
            <p class="text-muted pb-0 mb-0">Some of the best offers </p>
        </div>
    </div>

    <xscrolablecard [items]="indiandest" [heading]="'Religious destinations'"></xscrolablecard>
</div>