<div class="outer ">
    
    <div class="container-fluid">
            <a [href]="Viewall" class="float-right btn btn-danger btn-sm mt-3">View All</a>
            <h3 class="h5" style="color:black">{{heading}}</h3>  
        <span class="small">
           You have 1234+ packages
        </span>
       
        
            <button type="button" (click)="scrollLeft()" class="btn  btn-circle-left btn-sm "><i
                class="fa fa-chevron-left p-0"></i>
        </button>
        <div #widgetsContent class="d-flex flex-nowrap cont row p-3">
            <div  *ngFor="let child of items">
                <div class="card ">
                    <div class="imgbox">
                        <span class="tag badge badge-danger">
                            <small>{{child.offer}}% Off</small>
                        </span>
                        <img [src]="child.img" class="card-img-top photo" alt="..." />
                    </div>
                    <div class="mt-0 p-2">
                        <div class="row">
                            <div class="col-8">
                                <small><span><i class="fa fa-clock mr-2"
                                            aria-hidden="true"></i></span>{{child.days}}</small>
                                <p>{{child.place}}</p>
                            </div>
                            <div class="col-4 ">
                                <i class="fa fa-ribben fa-2x mt-1 text-info" aria-hidden="true"></i>
                                <small class="ml-1">Map</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <del>{{child.strikecost | currency:'INR'}}</del>
                            </div>
                            <div class="col-5 float-right">
                                <p>{{child.cost | currency:'INR'}}</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <button type="button" (click)="scrollRight()" class="btn btn-circle-right  btn-sm "><i
                class="fa fa-chevron-right"></i>
        </button>
       
        
    </div>
</div>