<div class="outer ">
    
    <div class="container-fluid">
            <a [href]="Viewall" class="float-right btn btn-danger btn-sm mt-3">View All</a>
            <h3 class="h5" style="color:black">{{heading}}</h3>  
        <span class="small">
           You have 1234+ packages
        </span>
       
        
            <button type="button" (click)="scrollLeft()" class="btn  btn-circle-left btn-sm "><i
                class="fa fa-chevron-left p-0"></i>
        </button>
        <div #widgetsContent class="d-flex flex-nowrap cont row p-3">
            <div  *ngFor="let child of items">
                <div class="card ">
                    <div class="imgbox">
                        <span *ngIf="child.offer" class="tag badge badge-danger">
                            <small>{{child.offer}}% Off</small>
                        </span>
                        <img [src]="child.img" class="card-img-top photo" alt="..." />
                    </div>
                    <div class="mt-0 px-3 py-2">
                                <h6>{{child.place}}</h6>
                                <small><span><i class="fa fa-clock mr-2"
                                            aria-hidden="true"></i></span>{{child.days}}</small>
                           
                        <hr/>
                        <div class="row">
                            <div class="col-7">
                                <span class="small text-muted">Starting from</span>
                                <h6 class="h6 font-weight-bold">{{ child.cost | currency:'INR'}}</h6>
                            </div>
                            <div class="col-5 float-right mt-2">
                                <del>{{child.strikecost | currency:'INR'}}</del>
                            </div>
                           
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <button type="button" (click)="scrollRight()" class="btn btn-circle-right  btn-sm "><i
                class="fa fa-chevron-right"></i>
        </button>
       
        
    </div>
</div>