$primary: #53a5c6;

.photo:hover {
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
    
  }
  .imgbox{
    overflow:hidden;
    position: relative;
  }
  .tag{
      position: absolute;
      z-index: 2;
  }
  
  .card{
      overflow:hidden;
      width:16rem;
  }
.cont{
    overflow-x: scroll;
    scroll-behavior: smooth; 
}
  .cont {
    -webkit-overflow-scrolling: touch;
  }
  .cont {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .blk{
    border: 2px solid #ccc;
    border-radius: 0.6rem;
    padding: 1rem;
}


.container{
    position: relative;
    border: 2px solid $primary;
    border-radius: 0.6rem;
    padding: 1rem 2rem 2rem 2rem ;
}
.btn-circle-left{
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    border: solid 1px #ccc;
    top:10.4rem;
    left:-1.6rem;
    z-index: 2px;
    background: #fff;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.30);
}
.btn-circle-right{
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    border: solid 1px #ccc;
    top:10.4rem;
    right:-1.4rem;
    z-index: 2px;
    background: #fff;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.30);
}
.h2{
    font-size: 2rem;
}