
.card.card-white {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 0 9px 0 #00000057;
  //box-shadow: 0 0 9px 0px rgb(0 0 0 / 10%);
 padding: 0;
 
}
.img-fluid{
  border-radius: 1px 1px 0px 0px;
}
.gal {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
   
    overflow: hidden
	}	
  
	.gal .card{ width: 100%;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
         //break-inside: avoid; /* IE 10+ */
         break-inside: avoid-column;
         
      }
@media (max-width: 500px) {
		.gal {
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	  
	}
  .gal .card{
    margin-left: 0;
  }
		
	}