<div class="container mt-2">
    <div class="row pt-5">
        <div class="col-sm-4">
            <div class="card card-white grid-margin">
                <div class="card-heading clearfix">
                    <h4 class="card-title">My Profile</h4>
                </div>
                <div class="card-body user-profile-card mb-3">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                        class="user-profile-image rounded-circle" alt="" />
                    <h4 class="text-center h6 mt-2">Chandan</h4>
                    <p class="text-center small">Persnal Profile</p>
                    <button class="btn btn-theme btn-sm">Edit Profile&nbsp;&nbsp;<i class="fas fa-pencil"
                            aria-hidden="true"></i></button>
                </div>
                <hr />
                <button class="btn btn-theme btn-sm">Message</button>
                <hr />


            </div>

        </div>
        <!--/col-3-->
        <div class="col-sm-8">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Members">Add members</a>
                </li>
            </ul>
            <br />
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane  active" id="home">
                    <div class="card card-white grid-margin">
                        <div class="card-heading clearfix">
                            <h4 class="card-title">Profile</h4>
                            <p>Basic info, for a faster booking experience </p>
                        </div>

                        <div class="card-body p-0">
                            <table class="table ">

                                <tbody>
                                    <tr class="brdrtp">
                                        <th scope="row" class="col1"><small>Name</small></th>
                                        <td>{{profile.Name}}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#profileModal"
                                                data-dismiss="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><small>Birthday</small></th>
                                        <td>{{profile.Birthday}}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#profileModal"
                                                data-dismiss="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><small>Gender</small></th>
                                        <td>{{profile.Gender}}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#profileModal"
                                                data-dismiss="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><small>Marital Status</small></th>
                                        <td>{{profile.Marital}}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#profileModal"
                                                data-dismiss="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="card card-white grid-margin">
                        <div class="card-heading clearfix">
                            <h4 class="card-title">Login Details</h4>
                            <p>Manage your email address mobile number and password</p>
                        </div>

                        <div class="card-body p-0">
                            <table class="table ">

                                <tbody>
                                    <tr class="brdrtp">
                                        <th scope="row" class="col1"><small>Mobile Number</small></th>
                                        <td>{{logininf.Mobile}}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#logdetailModal"
                                                data-dismiss="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><small>Email ID</small></th>
                                        <td>{{logininf.Email}}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#logdetailModal"
                                                data-dismiss="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><small>Password</small></th>
                                        <td>{{logininf.Password}}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#logdetailModal"
                                                data-dismiss="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="tab-pane  fade" id="Members">
                    <div class="card card-white grid-margin">
                        <div class="card-heading clearfix">
                            <h4 class="card-title">Add Family Members</h4>
                            <p>Basic info, for a faster booking experience</p>
                        </div>

                        <div class="card-body p-0">
                            <table class="table ">
                                <tbody>
                                    <tr class="brdrtp">
                                        <th scope="row" class="col1"><small>Name</small></th>
                                        <td>{{profile.Name}}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#profileModal"
                                                data-dismiss="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><small>Birthday</small></th>
                                        <td>{{profile.Birthday}}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#profileModal"
                                                data-dismiss="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><small>Gender</small></th>
                                        <td>{{profile.Gender}}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#profileModal"
                                                data-dismiss="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><small>Marital Status</small></th>
                                        <td>{{profile.Marital}}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#profileModal"
                                                data-dismiss="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
       
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<!--/row-->

<!------------------------------------------------ model section  --------------------------------------->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered container" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Edit Profile</h3>
                <button #closeprofile type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="profileformGroup" (ngSubmit)="Profilesub()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="modelName">Full Name<span class="text-danger">*</span></label>
                            <input autocomplete="off" type="text" class="form-control" id="modelName"
                                formControlName="Name" placeholder="Enter Your Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="modelBirthday">Birthday</label>
                            <input type="date" class="form-control" id="modelBirthday" formControlName="Birthday"
                                placeholder="Birthday">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputGender">Gender<span class="text-danger">*</span></label>
                            <select id="inputGender" class="custom-select" formControlName="Gender">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="O">Other</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputmarital">Marital Status</label>
                            <select class="custom-select" id="inputmarital" formControlName="Marital">
                                <option value="M">Married</option>
                                <option value="U">UnMarried</option>
                            </select>
                        </div>
                    </div>


                    <button type="submit"
                        class="btn btn-primary btn-block text-uppercase mb-2  shadow-sm">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="logdetailModal" tabindex="-1" role="dialog" aria-labelledby="logdetailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered container" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Edit login detail</h3>
                <button #closeLogdetail type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  [formGroup]="LogindtformGroup" (ngSubmit)="Loginsub()">

                    <div class="form-group ">
                        <label for="modelmail">Email<span class="text-danger">*</span></label>
                        <input autocomplete="off" type="email" class="form-control" id="modelmail"
                            formControlName="Email" placeholder="Enter Your Email">
                    </div>
                        <label for="inputGender">Number</label>
                        <div class="form-group">
                            <ngx-intl-tel-input [cssClass]="'form-control'" formControlName="Phone" [preferredCountries]="preferredCountries"
                                [enableAutoCountrySelect]="true" [enablePlaceholder]="false" [searchCountryFlag]="true"
                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="15"
                                [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                [numberFormat]="PhoneNumberFormat.National" name="phone" >
                            </ngx-intl-tel-input>
                    </div>


                    <button type="submit"
                        class="btn btn-primary btn-block text-uppercase mb-2  shadow-sm">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>