<div class="container-fluid mt-2">
    <div class="row pt-5">
        <div class="col-sm-3">
            <div class="card card-white grid-margin">
                <div class="card-heading clearfix">
                    <h4 class="card-title">My Profile</h4>
                </div>
                <div class="card-body user-profile-card mb-3">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                        class="user-profile-image rounded-circle" alt="" />
                    <h4 class="text-center h6 mt-2">Chandan</h4>
                    <p class="text-center small">Persnal Profile</p>
                    <button class="btn btn-theme btn-sm">Edit Profile&nbsp;&nbsp;<i class="fas fa-pencil"
                            aria-hidden="true"></i></button>
                </div>
                <hr />
                <button class="btn btn-theme btn-sm">Message</button>
                <hr />


            </div>

        </div>
        <!--/col-3-->
        <div class="col-sm-6">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Members">Add members</a>
                </li>

            </ul>
            <br />
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane  active" id="home">
                    <div class="card card-white grid-margin">
                        <div class="card-heading clearfix">
                            <h4 class="card-title">Profile</h4>
                            <p>Basic info, for a faster booking experience </p>
                        </div>

                        <div class="card-body p-0">
                            <table class="table ">
                                
                                <tbody>
                                    <tr class="brdrtp">
                                        <th scope="row" class="col1"><small>Name</small></th>
                                        <td >{{profile.Name}}</td> 
                                        <td><a href="#" data-toggle="modal" data-target="#profileModal" data-dismiss="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a></td> 
                                      </tr>
                                  <tr>
                                    <th scope="row"><small>Birthday</small></th>
                                    <td>{{profile.Birthday}}</td>
                                    <td><a href="#" data-toggle="modal" data-target="#profileModal" data-dismiss="modal" ><i class="fa fa-pencil" aria-hidden="true"></i></a></td> 
                                  </tr>
                                  <tr>
                                    <th scope="row"><small>Gender</small></th>
                                    <td >{{profile.Gender}}</td>
                                    <td><a href="#" data-toggle="modal" data-target="#profileModal" data-dismiss="modal" ><i class="fa fa-pencil" aria-hidden="true"></i></a></td> 
                                  </tr>
                                  <tr>
                                    <th scope="row"><small>Marital Status</small></th>
                                    <td >{{profile.Marital}}</td>
                                    <td><a href="#" data-toggle="modal" data-target="#profileModal" data-dismiss="modal" ><i class="fa fa-pencil" aria-hidden="true"></i></a></td> 
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                        
                    </div>
                    <div class="card card-white grid-margin">
                        <div class="card-heading clearfix">
                            <h4 class="card-title">Login Details</h4>
                            <p>Manage your email address mobile number and password</p>
                        </div>

                        <div class="card-body p-0">
                            <table class="table ">
                                
                                <tbody>
                                    <tr class="brdrtp">
                                        <th scope="row" class="col1"><small>Mobile Number</small></th>
                                        <td >{{logininf.Mobile}}</td> 
                                        <td><a href="#"  ><i class="fa fa-pencil" aria-hidden="true"></i></a></td> 
                                      </tr>
                                  <tr>
                                    <th scope="row"><small>Email ID</small></th>
                                    <td>{{logininf.Email}}</td>
                                    <td><a href="#"  ><i class="fa fa-pencil" aria-hidden="true"></i></a></td> 
                                  </tr>
                                  <tr>
                                    <th scope="row"><small>Password</small></th>
                                    <td >{{logininf.Password}}</td>
                                    <td><a href="#"  ><i class="fa fa-pencil" aria-hidden="true"></i></a></td> 
                                  </tr>
                                 
                                </tbody>
                              </table>
                        </div>
                        
                    </div>
                </div>
                <div class="tab-pane  fade" id="Members">
                    <div class="card card-white grid-margin">
                        <div class="card-heading clearfix">
                            <h4 class="card-title">Add Family Members</h4>
                            <p>Basic info, for a faster booking experience </p>
                        </div>

                        <div class="card-body p-0">
                            <table class="table ">
                                
                                <tbody>
                                    <tr class="brdrtp">
                                        <th scope="row" class="col1"><small>Name</small></th>
                                        <td >{{profile.Name}}</td> 
                                        <td><a href="#" data-toggle="modal" data-target="#profileModal" data-dismiss="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a></td> 
                                      </tr>
                                  <tr>
                                    <th scope="row"><small>Birthday</small></th>
                                    <td>{{profile.Birthday}}</td>
                                    <td><a href="#" data-toggle="modal" data-target="#profileModal" data-dismiss="modal" ><i class="fa fa-pencil" aria-hidden="true"></i></a></td> 
                                  </tr>
                                  <tr>
                                    <th scope="row"><small>Gender</small></th>
                                    <td >{{profile.Gender}}</td>
                                    <td><a href="#" data-toggle="modal" data-target="#profileModal" data-dismiss="modal" ><i class="fa fa-pencil" aria-hidden="true"></i></a></td> 
                                  </tr>
                                  <tr>
                                    <th scope="row"><small>Marital Status</small></th>
                                    <td >{{profile.Marital}}</td>
                                    <td><a href="#" data-toggle="modal" data-target="#profileModal" data-dismiss="modal" ><i class="fa fa-pencil" aria-hidden="true"></i></a></td> 
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-white grid-margin">
                <div class="card-heading clearfix">
                    <h4 class="card-title">Suggestions</h4>
                </div>
                <div class="card-body">

                </div>
            </div>
            <div class="card card-white grid-margin">
                <div class="card-heading clearfix">
                    <h4 class="card-title">Some Info</h4>
                </div>
                <div class="card-body">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto.</p>
                </div>
            </div>
        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<!--/row-->

<!------------------------------------------------ model section  --------------------------------------->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered container" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="profileformGroup" (ngSubmit)="Profilesub()">
                    <div class="form-group mb-3">
                        <input type="text" placeholder="Enter Name(Madatory)" formControlName="Name" required=""
                            autocomplete="off" autofocus="" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <input type="date" placeholder="Enter Birthday date" formControlName="Birthday" required=""
                            autocomplete="off" autofocus="" class="form-control">                        
                    </div>
                    <div class="form-group mb-3">
                        <select class="custom-select"   formControlName="Gender">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                          </select>                       
                    </div>
                    <div class="form-group mb-3">
                        <select class="custom-select" formControlName="Marital">
                            <option>Married</option>
                            <option>UnMarried</option>
                          </select>                       
                    </div>
                    
                    <button type="submit"
                        class="btn btn-primary btn-block text-uppercase mb-2  shadow-sm">Submit</button>
                </form>
            </div>
            
        </div>
    </div>
</div>