<topbar-dir></topbar-dir>
<div class="overflowhidden">
    <div  style="height:0;padding-bottom:37.490317583268784%"><img
            src="https://cdn.pixabay.com/photo/2016/05/04/07/56/businessman-1370983_1280.jpg"
            alt="career banner"
            class="imgGlobal lazyloaded"></div>
</div>
<br/>
<div class="container">
  <h3 class="pl24 h5 text-center pb-3">
    We set the Best Holiday Packages for our Travelers 
  </h3>
 <p class="pb-2">
    We are one of the leading travel companies in Bangalore in providing the 'best of best services to our clients. We are travel service providers throughout India and abroad. We are specialized in handling special groups, honeymoon packages, official trips, family group trips, school trips and customized packages. Our user-friendly website and mobile application help you to plan your trips with a few touches of fingertips. 
 </p>
 <p class="pb-2">
    Our professional sales team create and provide you with customized packages in your budget range as we have a wide range of choices throughout India and Abroad. We consider all major aspects such as affordable cost, time and conveniences, age group while providing the travel packages. 
 </p>
 <p class="pb-2">We started the company with the vision of "Explore every part of the world without burning your pockets''. We are known for budget-friendly travel services throughout India and abroad. Our main objective is to promote our Karnataka tourism and introduce it to the world. </p>
<ol>
    <li>We set the goal to mark our name as a top leader in domestic and international tourism.</li>
    <li>To provide quality services to our customers and exceed our client’s expectations. </li>
    <li>To ensure safe, secured and smooth travel for every customer in the travel time with us. </li>
    <li>We ensure the money spent on the travel packages, gets the value back and we meet your expectations. </li>
    <li>We constantly improve the organizational process of rendering services to the customers.</li>
</ol>
</div>
<section class="hideonsmall" >
    <div class="container mainpadding  py-4">
      <div class="row">
        <div class="col-md-6 ">
          <div class="text-center mb-4">
            <h3 class="h5 ">Fastest Growing Holiday Marketplace</h3>
            <p class="text-muted pb-0 mb-0 small">Some of the best offers </p>
          </div>
  
          <div class="row border-right">
            <div class="col-md-4">
  
              <div class="card featured-icon-card">
                <div>
                  <img class="img-fluid"
                    src="https://image.freepik.com/free-vector/road-trip-concept-illustration_114360-5643.jpg ">
                </div>
                <div class="featured-icon-textbox">
                  <div>650+</div>
                  <div class="small">Verified Places</div>
                </div>
              </div>
  
            </div>
            <!--End col-md-4-->
            <div class="col-md-4">
  
              <div class="card featured-icon-card">
                <div>
                  <img class="img-fluid"
                    src="https://image.freepik.com/free-vector/personal-memories-concept_23-2148403720.jpg">
                </div>
                <div class="featured-icon-textbox">
                  <div>22 Lac+</div>
                  <div class="small">Happy Travellers</div>
                </div>
              </div>
  
            </div>
            <!--End col-md-4-->
            <div class="col-md-4">
  
              <div class="card featured-icon-card">
                <div>
                  <img class="img-fluid"
                    src="https://image.freepik.com/free-vector/flight-booking-concept-illustration_114360-2213.jpg">
                </div>
                <div class="featured-icon-textbox">
                  <div>65+</div>
                  <div class="small">International Destinations</div>
                </div>
              </div>
  
            </div>
            <!--End col-md-4-->
  
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="text-center mb-4">
            <h3 class="h5 ">Easy, Secure & Reliable</h3>
            <p class="text-muted pb-0 mb-0 small">Some of the best offers </p>
          </div>
          <div class="row">
            <div class="col-md-4">
  
              <div class="card featured-icon-card signpost">
                <div>
                  <img class="img-fluid"
                    src="https://image.freepik.com/free-vector/honesty-abstract-concept-illustration_335657-4480.jpg">
                </div>
                <div class="featured-icon-textbox">
                  <div>Stringent</div>
                  <div class="small">Quality Control</div>
                </div>
              </div>
  
            </div>
            <!--End col-md-4-->
            <div class="col-md-4">
  
              <div class="card featured-icon-card">
                <div>
                  <img class="img-fluid"
                    src="https://image.freepik.com/free-vector/flat-customer-support-illustration_23-2148899113.jpg">
                </div>
                <div class="featured-icon-textbox">
                  <div>24/7</div>
                  <div class="small">Support</div>
                </div>
              </div>
  
            </div>
            <!--End col-md-4-->
            <div class="col-md-4">
  
              <div class="card featured-icon-card">
                <div>
                  <img class="img-fluid" src="https://image.freepik.com/free-vector/man-working-office_52683-18122.jpg">
                </div>
                <div class="featured-icon-textbox">
                  <div>65+</div>
                  <div class="small">Inhouse Proffesionals</div>
                </div>
              </div>
  
            </div>
  
          </div>
        </div>
      </div>
  
    </div>
  </section>

  <br/>
<app-footer>

</app-footer>